{% extends "base_generic.html" %}
{% block content %}
    <main class="legal-notice-to-picscout-page">
        <header>
            <div class="container">
                <h1 class="entry-title">
                    LEGAL NOTICE TO PICSCOUT, GETTY IMAGES,  PICSCOUT CLIENTS, CYVEILLANCE:
                    <br>
                    You are prohibited from accessing this site
                </h1>
            </div>
        </header>
        <section class="content">
            <div class="container">
                <p>
                    Legal Notice to PicScout, <a href="https://www.picscout.com/" rel="nofollow">http://www.picscout.com/</a>, Getty Images, <a href="https://www.gettyimages.com/" rel="nofollow">http://www.gettyimages.com/</a> trading as: GYI, all other customers of PicScout, and Cyveillance Intelligence Center <a href="https://www.cyveillance.com/" rel="nofollow">https://www.cyveillance.com/</a>, and to any and all clients of Cyveillance Intelligence Center, their subsidiaries, agents, or assigns are prohibited from accessing <span class="skimlinks-unlinked">danpoynor.com</span>
                </p>
                <p>
                    1: Permission for the copyright scanning robot program known as PicScout and for robots owned or operated by Cyveillance Intelligence Center, Getty Images, their subsidiaries, agents, and assigns to access this site is explicitly denied. All other robots which scan content for the purpose of any law enforcement, criminal or civil, are also denied permission to access this site at any time.
                </p>
                <p>
                    2: EXCEPT by any law enforcement agency, Getty Images, PicScout, and Cyveillance Intelligence Center or any of their subsidiaries, agents, or assigns; or by any other corporation that has at least once filed a copyright infringement lawsuit against one or more online users of their content. Use of any original <span class="skimlinks-unlinked">danpoynor.com</span> graphic, artwork, story, photo, audio, or video recording for any purpose, by any entity which is a plaintiff in a copyright infringement case is hereby prohibited.
                </p>
                <p>
                    3: Getty Images, PicScout, and Cyveillance Intelligence Center their subsidiaries, agents, and assigns are explicitly prohibited from using any image or video that originated in a *<span class="skimlinks-unlinked">danpoynor.com</span> or your company* camera for any purpose. These graphic design images and photos are released for noncommercial use by the general public with or without attribution to <span class="skimlinks-unlinked">danpoynor.com</span>; their use for any monetary gain by any party claiming copyright against a third party downloader from a third party web site shall be treated as a copyright violation under this Notice.
                </p>
                <p>
                    Notice concerning demands for damages originating from Getty Images, PicScout, Cyveillance Intelligence Center, or any of their subsidiaries, agents, or assigns or any other scanning robot users sending “demand notices” prior to DMCA takedown notices
                    <br>
                </p>
                <p>
                    We regard Getty Images, PicScout, Cyveillance Intelligence Center, or any of their subsidiaries, agents, or assigns as entities engaged in extortion. As such, all payment demands SHALL BE REFUSED if any threats of legal action are ever received from Getty Images, PicScout, Cyveillance Intelligence Center, their subsidiaries, agents, or assigns or any other copyright holder demanding “damages” prior to sending DMCA takedown notifications. Not only will I refuse to pay the funds you demand and we shall instead seek liquidated damages in the amount of $100,000 US per violation of our Terms of Service concerning image scanning robots.
                </p>
            </div>
        </section>
    </main>
{% endblock content %}
