{% extends 'base_portfolio.html' %}

{% block content %}
  <main class="roles-page">
    <div class="container">
      <div class="intro">
        <p>
          Educated at CalArts in Visual Communications then U.C. Berkeley for Webmaster, Linux Server Administration, and Marketing degrees has given me a broad formal education. Combining that with years of hands-on experience, I&rsquo;m able to step into multiple roles from concept development, to designing branding elements and page layouts, to running A/B tests and user testing, to final implementation. Working within multi-disciplinary teams I&rsquo;m also able to communicate effectively with stakeholders using germane nomenclature to collaborate on design, development, and <span class="nowrap">marketing efforts.</span>
        </p>
      </div>
      {% include 'partials/_header_taxonomy_term.html' %}
      {% include 'partials/_taxonomy_terms_highlighted.html' with item_name='roles' highlighted_items=highlighted_roles %}
      <section class="taxonomy-categories">
        <h2>Roles Overview</h2>
        <ul class="taxonomy-list">
          {% for role in roles %}
            <li>
              <h3><a href="{{ role.get_absolute_url }}" title="View all project samples created for 3D Designer">{{ role.name }} <span class="count">( {{ role.projects.count }} )</span></a></h3>
              <p>{{ role.description|safe }}</p>
            </li>
            {% empty %}
            <li>No roles available.</li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </main>
{% endblock %}
