{% comment %}For example show 5 selected media types [83, 82, 85, 80, 101]{% endcomment %}
<section class="selected-taxonomy-items">
  <div class="container">
    <header>
      <h2>Selected Media Types</h2>
      <p>
        From print to interactive &ndash; explore ### of the <a href="/portfolio/media-types/">diverse media types and marketing vehicles</a> I&rsquo;ve <span style="white-space:nowrap">work with.</span>
      </p>
    </header>
    <ul class="showcase-list">
      {% for media_type in selected_media_types %}
        <li>
          <a href="#" title="View all project samples created for name"><span class="text-wrapper"><span class="taxonomy-name">name</span><span class="count">(count)</span></span></a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
