<div class="sub-nav">
    <div class="container">
        <div class="totals">
            <p>
                Presenting <span>###</span> design projects <span class="nowrap">including <span>#####+</span> examples</span>
            </p>
        </div>
        <div class="dropdown portfolio-sub-nav">
            <p class="prompt">Browse:</p>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'clients' %}">Clients</a>
                    </li>
                    <li>
                        <a href="{% url 'industries' %}">Industries</a>
                    </li>
                    <li>
                        <a href="{% url 'markets' %}">Markets</a>
                    </li>
                    <li>
                        <a href="{% url 'media-types' %}">Media Types</a>
                    </li>
                    <li>
                        <a href="{% url 'roles' %}">Roles</a>
                    </li>
                    <li>
                        <a href="{% url 'projects' %}">Projects</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
