<ul class="show" id="portfolio-container">
  {% for item in object.get_ordered_items %}
    <li class="show">
      <a href="/portfolio/project-details/{{ item.slug }}/">
        <figure>
          <figcaption>
            <p class="title sub-title">{{ item.name }}</p>
            <div class="text-wrapper">
              <p class="click-to-view">Click for project detail view.</p>
            </div>
          </figcaption>
          <img src="#" alt="{{ item.name }}" />
        </figure>
      </a>
    </li>
  {% endfor %}
</ul>
