<section class="selected-taxonomy-items">
  <div class="container">
    <header>
      <h2>Selected Clients</h2>
      <p>
        Check out work from {{ total_clients }} <a href="/portfolio/clients/">happy clients, employers, <span style="white-space:nowrap">and partnerships</span></a>.
      </p>
    </header>
    <ul class="showcase-list">
      {% for client in selected_clients %}
        {% include 'partials/_taxonomy_term_item_card.html' with term=client %}
      {% empty %}
        <li>No selected clients available.</li>
      {% endfor %}
    </ul>
  </div>
</section>
