<section class="selected-taxonomy-items">
  <div class="container">
    <header>
      <h2>Selected Media Types</h2>
      <p>
        From print to interactive &ndash; explore {{ total_media_types }} of the <a href="/portfolio/media-types/">diverse media types and marketing vehicles</a> I&rsquo;ve <span style="white-space:nowrap">work with.</span>
      </p>
    </header>
    <ul class="showcase-list">
      {% for media_type in selected_media_types %}
        {% include 'partials/_taxonomy_term_item_card.html' with term=media_type %}
      {% empty %}
        <li>No selected media types available.</li>
      {% endfor %}
    </ul>
  </div>
</section>
