<div class="sub-nav">
  <div class="container">
    <div class="totals">
      <p>
        Presenting <span>521</span> design projects <span style="white-space:nowrap">including <span>929+</span> examples</span>
      </p>
    </div>

    <div class="nav portfolio-sub-tabs">
      <ul>
        <li class="prompt">Browse by:</li>
        <li id="menu-item-365" class="clients-tab menu-item menu-item-type-post_type menu-item-object-page menu-item-365">
          <a target="_top" href="/portfolio/clients/">Clients</a>
        </li>
        <li id="menu-item-362" class="industries-tab menu-item menu-item-type-post_type menu-item-object-page menu-item-362">
          <a target="_top" href="/portfolio/industries/">Industries</a>
        </li>
        <li id="menu-item-366" class="formats-tab menu-item menu-item-type-post_type menu-item-object-page menu-item-366">
          <a target="_top" href="/portfolio/media-types/">Media Types</a>
        </li>
        <li id="menu-item-490" class="roles-tab menu-item menu-item-type-post_type menu-item-object-page menu-item-490">
          <a target="_top" href="/portfolio/roles/">Roles</a>
        </li>
        <li id="menu-item-7090" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7090">
          <a target="_top" href="/portfolio/projects/">Project List</a>
        </li>
      </ul>
    </div>

    <div class="dropdown portfolio-sub-nav">
      <p class="prompt">Browse:</p>
      <div class="dropdown-wrapper">
        <ul class="current">
          <li class="current-selection all-selection">
            <a value="">All</a>
          </li>
        </ul>
        <ul class="menu" role="menu">
          <li>
            <a href="/portfolio/clients/">Clients</a>
          </li>
          <li>
            <a href="/portfolio/industries/">Industries</a>
          </li>
          <li>
            <a href="/portfolio/media-types/">Media Types</a>
          </li>
          <li>
            <a href="/portfolio/roles/">Roles</a>
          </li>
          <li>
            <a href="/portfolio/projects/">Project List</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
