<div class="sub-nav">
  <div class="container">
    <div class="totals">
      <p>
        Presenting <span>521</span> design projects <span style="white-space:nowrap">including <span>937+</span> examples</span>
      </p>
    </div>

    <div class="dropdown portfolio-sub-nav">
      <p class="prompt">Browse:</p>
      <nav>
        <ul>
          <li>
            <a href="/portfolio/clients">Clients</a>
          </li>
          <li>
            <a href="/portfolio/industries">Industries</a>
          </li>
          <li>
            <a href="/portfolio/markets">Markets</a>
          </li>
          <li>
            <a href="/portfolio/media-types">Media Types</a>
          </li>
          <li>
            <a href="/portfolio/roles">Roles</a>
          </li>
          <li>
            <a href="/portfolio/projects">Projects</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
