{% load filters %}
<section class="taxonomy-categories {% if item_name == 'roles' %}roles-page{% endif %}">
    <h2>{{ item_name|replace_underscore_with_space|title }} Overview</h2>
    <ul class="taxonomy-list gray-bullets">
        {% for item in items %}
            {% if item_name == 'roles' %}
                <li>
                    <h3>
                        <a href="{{ item.get_absolute_url }}"
                           title="View all project samples created for {{ item.name }}">{{ item.name }} <span class="count">( {{ item.projects.count }} )</span></a>
                    </h3>
                    <p>{{ item.description|safe }}</p>
                </li>
            {% else %}
                <li>
                    <a href="{{ item.get_absolute_url }}"
                       title="View all project samples created for {{ item.name }}">{{ item.name }}&nbsp;<span class="count">({{ item.get_total_project_items }})</span></a>
                </li>
            {% endif %}
        {% empty %}
            <li>No {{ item_name|replace_underscore_with_space|title }} available.</li>
        {% endfor %}
    </ul>
</section>
