<nav class="pagination">
    {% if page_obj.paginator.num_pages > 1 %}
        {% include "partials/pagination/_sort_order.html" %}
    {% endif %}
    <div class="step-links">
        <span class="pagination-label">Pages:</span>
        {% if page_obj.has_previous %}
            <div class="back-links">
                <a href="{% url view_name slug=taxonomy_item_slug page=1 order=order %}"
                   class="prev page-number"
                   title="View first page"><span class="arrow">«</span></a>
                <a href="{% url view_name slug=taxonomy_item_slug page=page_obj.previous_page_number order=order %}"
                   class="prev page-number"
                   title="View previous page">Prev</a>
            </div>
        {% endif %}
        <ol class="page-numbers">
            {% for i in pages %}
                {% if page_obj.number == i %}
                    <li aria-current="page">
                        <span class="current">{{ i }}</span>
                    </li>
                {% elif i == '…' %}
                    <li>
                        <span class="ellipsis">{{ i }}</span>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url view_name slug=taxonomy_item_slug page=i order=order %}"
                           class="page-number"
                           aria-label="View page {{ i }}"
                           title="View page {{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
        {% if page_obj.has_next %}
            <div class="forward-links">
                <a href="{% url view_name slug=taxonomy_item_slug page=page_obj.next_page_number order=order %}"
                   class="prev page-number"
                   title="View next page">Next</a>
                <a href="{% url view_name slug=taxonomy_item_slug page=page_obj.paginator.num_pages order=order %}"
                   class="prev page-number arrow"
                   title="View last page"><span class="arrow">»</span></a>
            </div>
        {% endif %}
    </div>
</nav>
