annotated-types==0.6.0
appdirs==1.4.4
asgiref==3.7.2
beautifulsoup4==4.12.2
boto3==1.34.18
botocore==1.34.18
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.4.0
css-html-js-minify==2.5.5
cssbeautifier==1.14.11
cssselect2==0.7.0
Django==5.0.1
django-classy-tags==4.1.0
django-cms==4.1.0
django-debug-toolbar==4.2.0
django-extensions==3.2.3
django-filer==3.1.1
django-flatblocks==1.0.0
django-formtools==2.5.1
django-meta==2.4.1
django-minify-html==1.7.1
django-polymorphic==3.1.0
django-requests-debug-toolbar==0.0.6
django-robots==6.1
django-sekizai==4.1.0
django-treebeard==4.7
djangocms-admin-style==3.2.7
djangocms-page-meta==1.4.3
djlint==1.34.1
easy-thumbnails==2.8.5
EditorConfig==0.12.3
fs==2.4.16
html-tag-names==0.1.2
html-void-elements==0.1.0
idna==3.6
inflect==7.0.0
jmespath==1.0.1
jsbeautifier==1.14.11
json5==0.9.14
linkify-it-py==2.0.2
lxml==5.1.0
markdown-it-py==3.0.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
minify_html==0.15.0
packaging==23.2
pathspec==0.12.1
pep8==1.7.1
phpserialize==1.3
pillow==10.2.0
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.17.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pywatchman==1.4.1
PyYAML==6.0.1
regex==2023.12.25
reportlab==4.0.9
requests==2.31.0
rich==13.7.0
s3transfer==0.10.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
svglib==1.5.1
textual==0.47.1
tinycss2==1.2.1
tomli==2.0.1
tqdm==4.66.1
tree-sitter==0.20.4
tree-sitter-languages==1.9.1
trogon==0.5.0
typing_extensions==4.9.0
uc-micro-py==1.0.2
Unidecode==1.3.8
urllib3==2.0.7
webencodings==0.5.1
xmltodict==0.13.0
