{% extends "base_generic.html" %}
{% block content %}
    <main class="contact-page">
        <section class="intro">
            <div class="container">
                <p>
                    Looking for a creative partner? Interested in working together? Send some details  and I’ll respond as soon <span class="nowrap">as possible.</span>
                </p>
                <p>Thanks for the interest!</p>
            </div>
        </section>
        <header>
            <div class="container">
                <h1>Contact</h1>
            </div>
        </header>
        <section class="content">
            <div class="container">
                <div class="contact-form">
                    <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_1">
                        <div id="gf_1" class="gform_anchor" tabindex="-1"></div>
                        <p>Content TBD</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container">
                <div class="contact-info">
                    <div class="email center-center">
                        <div>
                            <h3>Email</h3>
                            <p>
                                Get In Touch
                                <br>
                                <a href="mailto:danpoynor@gmail.com">danpoynor@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="twitter center-center">
                        <div>
                            <h3>Twitter</h3>
                            <p>
                                Follow Me
                                <br>
                                <a href="https://twitter.com/danpoynor">@danpoynor</a>
                            </p>
                        </div>
                    </div>
                    <div class="street-address center-center">
                        <div>
                            <h3>Mailing Address</h3>
                            <p>
                                Dan Poynor
                                <br>
                                11624 Jollyville Road, #1216
                                <br>
                                Austin, Texas 78759
                            </p>
                        </div>
                    </div>
                    <div class="phone center-center ">
                        <div>
                            <h3>Phone</h3>
                            <p>
                                Since I don’t usually answer calls from unrecognized numbers it’s best to <span class="nowrap">use email.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
