//////////////////////////////
// colors
//////////////////////////////

// Color functions reference
// http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html

$white:																unquote("rgb(255, 255, 255)");
$black:																unquote("rgb(0, 0, 0)");

$body-text-color:											unquote("#666666");

//$theme-color:														$cyan-700; // ++
//$theme-color:														#6495ED; // CornflowerBlue
//$theme-color:														#BDB76B; // DarkKhaki
//$theme-color:														#556B2F; // DarkOliveGreen 
//$theme-color:														#FF8C00; //  DarkOrange 
//$theme-color:														#9932CC; // DarkOrchid // +
//$theme-color:														#8FBC8F; // DarkSeaGreen 
//$theme-color:														#FF1493; // DeepPink 
//$theme-color:														#00BFFF; // DeepSkyBlue // +
//$theme-color:														#1E90FF; // DodgerBlue 
//$theme-color:														#DAA520; // GoldenRod // +
//$theme-color:														#FF69B4 ; // HotPink 
//$theme-color:														#4B0082 ; // Indigo  
$theme-color:														#20B2AA ; // LightSeaGreen // +++
//$theme-color:														#FF4500 ; // OrangeRed 
//$theme-color:														#DDA0DD ; // Plum 
//$theme-color:														#6A5ACD ; // SlateBlue 
//$theme-color:														#9ACD32 ; // YellowGreen 

// Google Material color choices are:
// red
// pink
// purple
// deeppurple
// indigo
// blue
// lightblue // use 500 maybe
// cyan // use 500 maybe
// teal
// green
// lightgreen // use 500 maybe
// lime
// yellow
// amber
// orange
// deeporange
// brown
// grey
// bluegrey // use 500 maybe
// darkgrays - I made up

// Set the primary color
$primary-500:												$darkgrays-500;
$primary-700:												$darkgrays-700;
$primary-900:												$darkgrays-900;
//$primary-500-unquoted:							unquote($primary-500);
//$primary-700-unquoted:							unquote($primary-700);
//$primary-900-unquoted:							unquote($primary-900);
$opposit-of-primary-500-color:			invert($primary-500); // not sure I need opposit/complimentary colors but setting just in case
$opposit-of-primary-700-color:			invert($primary-700);
$opposit-of-primary-900-color:			invert($primary-900);

// Set the accent color
$accent-200:												$bluegrey-200;
$accent-300:												$bluegrey-300;
$accent-300:												$bluegrey-400;
$accent-500:												$bluegrey-500;
$accent-700:												$bluegrey-700;
$accent-900:												$bluegrey-900;
//$accent-500-unquoted:								unquote($accent-500);
//$accent-700-unquoted:								unquote($accent-700);
//$accent-900-unquoted:								unquote($accent-900);
$opposit-of-accent-500-color:				invert($accent-500); // not sure I need opposit/complimentary colors but setting just in case
$opposit-of-accent-700-color:				invert($accent-700);
$opposit-of-accent-900-color:				invert($accent-900);

//$theme-color:												$accent-300;

// general colors
//$background-color:									unquote("#fafafa");
$background-color:									unquote("#f6f6f6"); // was #f9f9f9
$body-background-color:							$primary-700; // appears behind fixed header and footer
$text-link-color:										$theme-color;
$text-link-color-hover:							lighten($text-link-color, 9%);
//$hightlight-tint:									lighten($theme-color, 40%);
$hightlight-tint:										mix($theme-color, #ffffff, 10%); // Note: Using mix() with white works better for various theme colors than lighten()

// for "More In This Project" area on single portfolio page
$desaturated-link-color:						desaturate($text-link-color, 50%);
$highlight-color:										lighten($desaturated-link-color, 50%);


// header colors
$header-bg-color:												$primary-700;
$header-link-text-color:								$white;

$headline-text-color:								$header-bg-color;

$ui-panel-background-color:					$white;

// used on top level taxonomy pages
$portfolio-nav-bg-color:											$primary-700;
$portfolio-nav-selected-tab-bg:								$background-color;
$portfolio-nav-selected-text:									$text-link-color;

// spinning loader indicator
$circle-color:																desaturate( lighten($portfolio-nav-selected-text, 60%), 60%);
$circle-hightlight-color:											$portfolio-nav-selected-text;

// used on sub level taxonomy pages
$portfolio-prev-next-background-color:							#f4f4f4;
$portfolio-taxonomy-sub-level-nav-selected-tab-bg:	$portfolio-prev-next-background-color;
 
 
$portfolio-img-outline:								#eee;

$div-line-color:											#ddd;

