// in case javascript is disabled yet the browser still supports css variables
:root {
    // --t3: #9acd32; // YellowGreen
    // --t3: #5e7e1c; // A11Y Fix 1
    // --t3: #59771a; // A11Y Fix 2
    --t3: #568000; // A11Y Fix 3
    --t4: #f6f6f6;
    --t5: #666666;
    --t6: #424242;
    --t7: #ffffff;
    --t8: #dddddd;
    --t9: #424242;
    --t10: rgba(154, 205, 50, .05);
    --t11: rgba(154, 205, 50, .1);
    --t12: rgba(154, 205, 50, .825);
    --t13: #f5faeb;
}