$header-media-query-break: 720.1px;
$header-media-query-break-smaller: 640.1px;
$header-media-query-break-smallest: 420.1px;
$portfolio-sub-nav-break-larger: 940.1px;
$portfolio-sub-nav-break-smaller: 720.1px;
$iphone-portrait-width: 320.1px;
$iphone-landscape-width: 736.1px;