$header-media-query-break: 720px;
$header-media-query-break-smaller: 640px;
$header-media-query-break-smallest: 420px;
$portfolio-sub-nav-break-larger: 940px;
$portfolio-sub-nav-break-smaller: 720.1px;
$iphone-portrait-width: 320px;
$iphone-landscape-width: 736px;