{% extends "base_portfolio.html" %}
{% load static %}
{% block portfolio_content %}
    <main class="portfolio-projects-page">
        <header>
            <div class="container">
                <h1>
                    <a href="{% url 'portfolio' %}">Portfolio</a> <span class="divider">/</span> Project List
                </h1>
            </div>
        </header>
        <section class="thumbnails">
            <div class="container">
                <section class="thumbnail-previews">
                    <div class="container">
                        {% include "partials/pagination/_bar.html" with total_items=total_projects %}
                        <section class="list-view">
                            <ol>
                                {% for project in page_obj %}
                                    <li>
                                        {% with project.get_first_item as first_item %}
                                            {% if first_item %}
                                                <figure>
                                                    <a href="{% url 'project_detail' slug=first_item.slug %}"
                                                       class="thumbnail">
                                                        {% if first_item.image %}
                                                            <img src="{% static "portfolio/images/project-item-images/medium/"|add:first_item.image.medium %}" alt="{{ project.name }}" height="" width="" />
                                                        {% else %}
                                                            <p>No image found for this project item.</p>
                                                        {% endif %}
                                                    </a>
                                                    <figcaption>
                                                        <p class="title">
                                                            <a href="{% url 'project_detail' slug=first_item.slug %}" target="_top">{{ project.name }}</a>
                                                        </p>
                                                        {% if project.description %}
                                                            <p class="description">
                                                                <span>Project Description:</span>{{ project.description|safe }}
                                                            </p>
                                                        {% endif %}
                                                    </figcaption>
                                                </figure>
                                            {% else %}
                                                <p>No related ProjectItem instances found for this project.</p>
                                            {% endif %}
                                        {% endwith %}
                                    </li>
                                {% empty %}
                                    <li>No projects available.</li>
                                {% endfor %}
                            </ol>
                        </section>
                    </div>
                </section>
            </div>
        </section>
    </main>
{% endblock portfolio_content %}
