{% extends "base_portfolio.html" %}
{% block portfolio_content %}
    {% include "partials/nav/_prev_next_taxonomy_term.html" %}
    <main class="project-overview-page">
        <header>
            <div class="container">
                <h1 class="project-name">
                    <a href="{% url 'portfolio' %}">Portfolio</a> <span class="divider">/</span> <span class="current-section">{{ object.name }}</span>
                </h1>
            </div>
        </header>
        <div class="project-details">
            <div class="container">
                {% include "partials/project_details/_client.html" with project=object %}
                {% include "partials/project_details/_project.html" with project=object %}
            </div>
        </div>
        <section class="thumbnails-header">
            <div class="container">
                <h3>Project Overview Previews</h3>
            </div>
        </section>
        <section class="thumbnails">
            <div class="container taxonomy-project-page">{% include "partials/_project_items_list.html" %}</div>
            <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
            <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', (event) => {
                    const elem = document.querySelector('.grid');
                    if (elem) {
                        if (typeof imagesLoaded === 'undefined' || typeof Isotope === 'undefined') {
                            console.error('Could not load imagesLoaded or Isotope');
                            return;
                        }
                        imagesLoaded(elem, function() {
                            // init Isotope after all images have loaded
                            const iso = new Isotope( elem, {
                                itemSelector: '.grid-item',
                                layoutMode: 'masonry',
                                percentPosition: true,
                                masonry: {
                                    columnWidth: '.grid-item'
                                }
                            });

                            // create observer
                            const observer = new IntersectionObserver(function(entries) {
                                entries.forEach(function(entry) {
                                    if (entry.isIntersecting) {
                                        entry.target.classList.add('in-view');
                                        observer.unobserve(entry.target);
                                    }
                                });
                            });

                            document.querySelectorAll('li.grid-item').forEach(item => {
                                observer.observe(item);
                            });
                        });
                    } else {
                        console.error('Could not find element with class "grid"');
                    }
                });
            </script>
        </section>
    </main>
    {% include "partials/nav/_prev_next_taxonomy_term.html" %}
{% endblock portfolio_content %}
