{% extends "base_portfolio.html" %}
{% block portfolio_content %}
    {% include "partials/nav/_prev_next_taxonomy_term.html" %}
    <main class="project-details-page">
        <article class="dpportfolio">
            <header>
                <div class="container">
                    <h1 class="project-name">
                        <a href="{% url 'portfolio' %}">Portfolio</a> <span class="divider">/</span> <span class="current-section">{{ object.project.name }}</span>
                    </h1>
                    {% if object.project.name != object.name %}<h2 class="entry-title">{{ object.name }}</h2>{% endif %}
                </div>
            </header>
            <section class="stage">
                <div class="container">
                    <div class="display-column">{{ object.html_content|safe }}</div>
                    <div class="project-details">
                        {% include "partials/project_details/_client.html" with project=object.project %}
                        {% include "partials/project_details/_project.html" with project=object.project %}
                        {% include "partials/project_details/_artifacts.html" with project=object %}
                        {% include "partials/project_details/_additional_samples.html" %}
                        <script>
                            // Run this code when the page has finished loading
                            document.addEventListener('DOMContentLoaded', function() {
                                // Define the IDs of your checkboxes
                                const checkboxIds = ['client-details-toggle', 'project-details-toggle', 'project-artifacts-toggle'];

                                checkboxIds.forEach(function(id) {
                                    const checkbox = document.getElementById(id);

                                    if (checkbox) {
                                        // When the checkbox state changes, store the new state in localStorage
                                        checkbox.addEventListener('change', function() {
                                            localStorage.setItem(id, this.checked);
                                        });

                                        // When the page loads, set the checkbox state based on what's stored in localStorage
                                        const storedState = localStorage.getItem(id);
                                        if (storedState !== null) {
                                            checkbox.checked = (storedState === 'true');
                                        }
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </section>
        </article>
    </main>
    {% include "partials/nav/_prev_next_taxonomy_term.html" %}
{% endblock portfolio_content %}
