{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        <link rel="icon" href="{% static 'portfolio/dan-poynor-300x300.png' %}" />
        <!-- Meta tags -->
        <meta name="description" content="{{ description }}">
        <meta name="canonical" content="https://www.danpoynor.com/" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="index, follow" />
        <meta name="keywords"
              content="Visual Designer, UX Designer, Front-end Developer, Front End Developer, UI Engineer, web developer, web development, Software Developer, Austin, Texas, UX/UI, performance, A11Y, strategic marketing, React, Next, Django, WordPress, React, Python, HTML, CSS, Javascript, Developer, SEO, U.S. citizen" />
        <meta name="author" content="Dan Poynor, danpoynor@gmail.com" />
        <meta name="designer" content="Dan Poynor" />
        <meta name="publisher" content="Dan Poynor" />
        <meta name="web_author" content="Dan Poynor" />
        <meta name="owner" content="Dan Poynor" />
        <meta name="classification" content="Business" />
        <meta name="subject" content="Personal">
        <meta name="rating" content="general">
        <meta name="rating" content="safe for kids">
        <meta name="format-detection" content="telephone=yes" />
        <meta name="HandheldFriendly" content="true" />
        <meta name="reply-to" content="danpoynor@gmail.com" />
        <meta name="city" content="Austin" />
        <meta name="state" content="Texas" />
        <meta name="country" content="USA" />
        <meta name="distribution" content="global" />
        <meta name="distribution" content="web">
        <!-- OpenGraph tags -->
        <meta name="og:title" content="Dan Poynor Design + Development Portfolio" />
        <meta name="og:description"
              content="Dan Poynor is a web developer and UI/UX designer in Austin, TX who has worked with clients in a wide range of industries and markets, including startups, small businesses, and global brands." />
        <meta name="og:url" content="%PUBLIC_URL%/" />
        <meta name="og:site_name"
              content="Dan Poynor Design and Devlopment Portfolio" />
        <meta name="og:locale" content="en_US" />
        <meta name="og:type" content="website" />
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-W7JVPGC');
        </script>
        <!-- End Google Tag Manager -->
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'portfolio/styles.css' %}" />
        {% include "partials/_fonts.html" %}
    </head>
    <body>
        {% include "partials/header/_main.html" %}
        <div class="wrapper">
            {% block content %}
            {% endblock content %}
        </div>
        {% include "partials/_footer.html" %}
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7JVPGC"
                    height="0"
                    width="0"
                    style="display:none;
                           visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    </body>
</html>
