{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        <!-- Meta tags -->
        <meta name="description" content="{{ description }}">
        <meta name="canonical" content="https://www.danpoynor.com/" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="index, follow" />
        <meta name="keywords"
              content="Visual Designer, UX Designer, Front-end Developer, Front End Developer, UI Engineer, web developer, web development, Software Developer, Austin, Texas, UX/UI, performance, A11Y, strategic marketing, React, Next, Django, WordPress, React, Python, HTML, CSS, Javascript, Developer, SEO, U.S. citizen" />
        <meta name="author" content="Dan Poynor, danpoynor@gmail.com" />
        <meta name="designer" content="Dan Poynor" />
        <meta name="publisher" content="Dan Poynor" />
        <meta name="web_author" content="Dan Poynor" />
        <meta name="owner" content="Dan Poynor" />
        <meta name="classification" content="Business" />
        <meta name="subject" content="Personal">
        <meta name="rating" content="general">
        <meta name="rating" content="safe for kids">
        <meta name="format-detection" content="telephone=yes" />
        <meta name="HandheldFriendly" content="true" />
        <meta name="reply-to" content="danpoynor@gmail.com" />
        <meta name="city" content="Austin" />
        <meta name="state" content="Texas" />
        <meta name="country" content="USA" />
        <meta name="distribution" content="global" />
        <meta name="distribution" content="web">
        <!-- OpenGraph tags -->
        <meta name="og:title" content="Dan Poynor Design + Development Portfolio" />
        <meta name="og:description"
              content="Dan Poynor is a web developer and UI/UX designer in Austin, TX who has worked with clients in a wide range of industries and markets, including startups, small businesses, and global brands." />
        <meta name="og:url" content="%PUBLIC_URL%/" />
        <meta name="og:site_name"
              content="Dan Poynor Design and Devlopment Portfolio" />
        <meta name="og:locale" content="en_US" />
        <meta name="og:type" content="website" />
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-W7JVPGC');
        </script>
        <!-- End Google Tag Manager -->
        <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}" />
        {% include "partials/_fonts.html" %}
        <!-- Favicons -->
        <link rel="icon"
              type="image/svg+xml"
              href="{% static 'portfolio/images/favicons/favicon.svg' %}" />
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'portfolio/images/favicons/favicon.png' %}">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'portfolio/images/favicons/apple-touch-icon.png' %}">
        <link rel="apple-touch-icon-precomposed"
              sizes="57x57"
              href="{% static 'portfolio/images/favicons/apple-touch-icon-57x57.png' %}" />
        <link rel="apple-touch-icon-precomposed"
              sizes="114x114"
              href="{% static 'portfolio/images/favicons/apple-touch-icon-114x114.png' %}" />
        <link rel="apple-touch-icon-precomposed"
              sizes="72x72"
              href="{% static 'portfolio/images/favicons/apple-touch-icon-72x72.png' %}" />
        <link rel="apple-touch-icon-precomposed"
              sizes="144x144"
              href="{% static 'portfolio/images/favicons/apple-touch-icon-144x144.png' %}" />
        <link rel="apple-touch-icon-precomposed"
              sizes="60x60"
              href="{% static 'portfolio/images/favicons/apple-touch-icon-60x60.png' %}" />
        <link rel="apple-touch-icon-precomposed"
              sizes="120x120"
              href="{% static 'portfolio/images/favicons/apple-touch-icon-120x120.png' %}" />
        <link rel="apple-touch-icon-precomposed"
              sizes="76x76"
              href="{% static 'portfolio/images/favicons/apple-touch-icon-76x76.png' %}" />
        <link rel="apple-touch-icon-precomposed"
              sizes="152x152"
              href="{% static 'portfolio/images/favicons/apple-touch-icon-152x152.png' %}" />
        <link rel="icon"
              type="image/png"
              href="{% static 'portfolio/images/favicons/favicon-196x196.png' %}"
              sizes="196x196" />
        <link rel="icon"
              type="image/png"
              href="{% static 'portfolio/images/favicons/android-chrome-512x512.png' %}"
              sizes="512x512" />
        <link rel="icon"
              type="image/png"
              href="{% static 'portfolio/images/favicons/android-chrome-192x192.png' %}"
              sizes="192x192" />
        <link rel="icon"
              type="image/png"
              href="{% static 'portfolio/images/favicons/favicon-96x96.png' %}"
              sizes="96x96" />
        <link rel="icon"
              type="image/png"
              href="{% static 'portfolio/images/favicons/favicon-32x32.png' %}"
              sizes="32x32" />
        <link rel="icon"
              type="image/png"
              href="{% static 'portfolio/images/favicons/favicon-16x16.png' %}"
              sizes="16x16" />
        <link rel="icon"
              type="image/png"
              href="{% static 'portfolio/images/favicons/favicon-128.png' %}"
              sizes="128x128" />
        <meta name="application-name"
              content="Dan Poynor Design and Development Portfolio" />
        <meta name="msapplication-TileColor" content="#4c4c4c" />
        <meta name="msapplication-TileImage"
              content="{% static 'portfolio/images/favicons/mstile-144x144.png' %}" />
        <meta name="msapplication-square70x70logo"
              content="{% static 'portfolio/images/favicons/mstile-70x70.png' %}" />
        <meta name="msapplication-square150x150logo"
              content="{% static 'portfolio/images/favicons/mstile-150x150.png' %}" />
        <meta name="msapplication-wide310x150logo"
              content="{% static 'portfolio/images/favicons/mstile-310x150.png' %}" />
        <meta name="msapplication-square310x310logo"
              content="{% static 'portfolio/images/favicons/mstile-310x310.png' %}" />
        <link rel="canonical" href="https://danpoynor.com{{ request.path }}" />
    </head>
    <body>
        {% include "partials/header/_main.html" %}
        <div class="wrapper">
            {% block content %}
            {% endblock content %}
        </div>
        {% include "partials/_footer.html" %}
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7JVPGC"
                    height="0"
                    width="0"
                    style="display:none;
                           visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <script src="{% static 'portfolio/scripts.js' %}"></script>
    </body>
</html>
