{% extends "portfolio/base_taxonomy.html" %}
{% block intro %}
    <p>
        I’ve had the privilege of working with some amazing people and companies across the globe from small startups to large multi-national corporations. Client projects presented here range from short-term one-offs to long-term enterprise endeavors and were created either internally as a dedicated full-time employee or externally as a remote freelance consultant on an as-needed basis.
    </p>
    <p>Thanks to all my clients! 🙂</p>
{% endblock intro %}
{% block taxonomy_content %}
    <section class="taxonomy-categories">
        <ul class="showcase-list clients-list">
            {% for client in clients %}
                {% include "partials/taxonomy/term/_item_card.html" with term=client %}
            {% empty %}
                <li>No clients available.</li>
            {% endfor %}
        </ul>
    </section>
    <section class="additional-info">
        <div class="container">
            <header>
                <h2>A Proven Track Record, And Real-World Solutions</h2>
            </header>
            <ul class="info-list">
                <li>
                    <h3>A Proven Track Record</h3>
                    <p>
                        Throughout my career, I’ve excelled in both full-time and freelance roles, specializing in visual design, UX/UI development, and software engineering. These diverse collaborations have been pivotal in honing my skills and consistently driving project success.
                    </p>
                    <p>
                        Utilizing this strong foundation of experience, I’ve consistently met objectives across diverse industries. Over the past couple years, I’ve:
                    </p>
                    <ul class="gray-bullets">
                        <li>
                            <strong>Increased user engagement</strong> for a fast-growing e-commerce startup through intuitive UI design.
                        </li>
                        <li>
                            <strong>Improved website conversion rates</strong> for a Fortune 500 healthcare company by streamlining the user journey.
                        </li>
                        <li>
                            <strong>Reduced bounce rate</strong> for a leading educational platform by optimizing page loading speeds and navigation.
                        </li>
                        <li>
                            <strong>Boosted customer satisfaction</strong> for a global financial services firm by enhancing the user experience.
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Turning Concepts into Real-World Solutions</h3>
                    <p>
                        My work centers on translating abstract ideas into tangible, user-centric experiences. With a strong foundation in visual design, extensive expertise in UX/UI development, and a background in software engineering, I’ve consistently met objectives, improved user experiences, and optimized performance across diverse industries with a variety of needs.
                    </p>
                </li>
                <li>
                    <h3>Exceeding Expectations Through Innovation</h3>
                    <p>
                        I’m deeply appreciative of the trust and collaboration I’ve received from clients, ranging from dynamic startups to established multinational corporations. Each project has been a unique learning opportunity, and I take pride in consistently surpassing expectations by refining user experiences, enhancing digital performance, and delivering innovative solutions through cross-industry collaboration.
                    </p>
                </li>
                <li>
                    <h3>Ready for Future Collaborations</h3>
                    <p>
                        Exciting opportunities await, and I’m enthusiastic about continuing to work with clients and employers to craft exceptional digital experiences. With an unwavering commitment to excellence in design and development, a passion for innovation, and a proven track record of success, I stand ready to elevate your next project to new heights!
                    </p>
                </li>
            </ul>
        </div>
    </section>
{% endblock taxonomy_content %}
