{% extends "portfolio/base_generic.html" %}
{% block content %}
    <main class="contact-page">
        <section class="intro">
            <div class="container">
                <p>
                    Looking for a creative partner? Interested in working together? Please feel free to reach out with any questions, project inquiries, or just to say hello. Send some details and we’ll bring your ideas to life.
                </p>
                <p>
                    Thanks for the interest! I’ll respond as soon as possible to discuss how we can work together to achieve your creative goals.
                </p>
            </div>
        </section>
        <header>
            <div class="container">
                <h1>Contact</h1>
            </div>
        </header>
        <section class="content">
            <div class="container">
                <div class="contact-info">
                    <div class="email">
                        <h2>Email</h2>
                        <p>
                            Get In Touch
                            <br>
                            <a href="mailto:danpoynor@gmail.com">danpoynor@gmail.com</a>
                        </p>
                    </div>
                    <div class="phone">
                        <h2>Phone</h2>
                        <p>
                            (512) 694-2668
                            <br>
                            Standard business hours: 9am-5pm, Central Time Zone, USA
                        </p>
                    </div>
                    <div class="street-address">
                        <h2>Mailing Address</h2>
                        <p>
                            Dan Poynor
                            <br>
                            11624 Jollyville Road
                            <br>
                            Apartment 1216
                            <br>
                            Austin, Texas
                            <br>
                            78759
                            <br>
                            USA
                        </p>
                    </div>
                    <div class="twitter">
                        <h2>X</h2>
                        <p>
                            Follow Me
                            <br>
                            <a href="https://twitter.com/danpoynor">@danpoynor</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
