{% extends "portfolio/base_generic.html" %}
{% block content %}
    <main class="contact-page">
        <section class="intro">
            <div class="container">
                <p>
                    Looking for a creative partner? Interested in working together? Send some details  and I’ll respond as soon as possible.
                </p>
                <p>Thanks for the interest!</p>
            </div>
        </section>
        <header>
            <div class="container">
                <h1>Contact</h1>
            </div>
        </header>
        <section class="content">
            <div class="container">
                <div class="contact-info">
                    <div class="email">
                        <h3>Email</h3>
                        <p>
                            Get In Touch
                            <br>
                            <a href="mailto:danpoynor@gmail.com">danpoynor@gmail.com</a>
                        </p>
                    </div>
                    <div class="phone">
                        <h3>Phone</h3>
                        <p>
                            (512) 694-2668
                            <br>
                            Central Time Zone, USA
                        </p>
                    </div>
                    <div class="street-address">
                        <h3>Mailing Address</h3>
                        <p>
                            Dan Poynor
                            <br>
                            11624 Jollyville Road
                            <br>
                            Apartment 1216
                            <br>
                            Austin, Texas
                            <br>
                            78759
                            <br>
                            USA
                        </p>
                    </div>
                    <div class="twitter">
                        <h3>X</h3>
                        <p>
                            Follow Me
                            <br>
                            <a href="https://twitter.com/danpoynor">@danpoynor</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
