{% extends "portfolio/base_taxonomy.html" %}
{% block intro %}
    <p>
        Working on both the agency-side and client-side of projects has provided me with knowledgable insight and experience on how to manage and achieve goals from both perspectives. Initially working on corporate projects in Holland before moving to Los Angeles and working in the entertainment business equipped me with a broad understanding of needs in projects intended for large multi-national markets. With that basis I always strive to effectively communicate with as many potential customers as possible within a variety of specific vertical markets.
    </p>
{% endblock intro %}
{% block taxonomy_content %}
    <div class="key-areas">
        {% include "partials/taxonomy/term/_highlighted.html" with item_name="industry" highlighted_items=highlighted_industries %}
        <section class="taxonomy-categories">
            <h2>Major Markets</h2>
            {% include "partials/taxonomy/_categories.html" with item_name="markets" items=markets %}
        </section>
    </div>
    {% include "partials/taxonomy/_categories.html" with item_name="industries" items=industries %}
    <section class="additional-info">
        <div class="container">
            <header>
                <h2>Crafting Impactful Experiences Across Industries</h2>
            </header>
            <ul class="info-list">
                <li>
                    <h3>From Hollywood Roots to Global Impact</h3>
                    <p>
                        My journey began in the creative crucible of Hollywood, honing my skills under the bright lights of the entertainment industry. As the digital revolution blossomed in the '2000s, I’ve pivoted to embrace the burgeoning internet, moving to the Bay Area and tackling projects as monumental as shaping the brand identity for the European Union.
                    </p>
                </li>
                <li>
                    <h3>A Spectrum of Expertise, Tailored Solutions</h3>
                    <p>
                        My focus has always been on mastering the medium at hand, wielding it to deliver thoughtful, responsive experiences that resonate with audiences. This dedication has equipped me with exceptional skills across the production, design, and management spectrum, seamlessly traversing both print and interactive realms.
                    </p>
                </li>
                <li>
                    <h3>Beyond Numbers: Human-Centered Impact</h3>
                    <p>
                        My portfolio boasts over two decades of projects spanning industries like Business Services, Consumer Goods, Financial Services, and Media & Entertainment. But the true measure of success lies beyond mere numbers. It's the stories of increased user engagement, boosted conversion rates, and streamlined workflows that bring my work to life.
                    </p>
                </li>
                <li>
                    <h3>Ready to Unravel the Potential in Your Industry?</h3>
                    <p>
                        Every industry presents unique challenges and opportunities. My passion lies in understanding these nuances and crafting personalized solutions that unlock growth and deliver measurable results. Let's connect and explore how my expertise can translate your vision into reality.
                    </p>
                </li>
            </ul>
        </div>
    </section>
{% endblock taxonomy_content %}
