{% extends "portfolio/base_portfolio.html" %}
{% block portfolio_content %}
    <main class="portfolio-page">
        <div class="container">
            <div class="intro">
                <p>
                    Thanks for looking! Note this portfolio presents more than artistic and web development talent from just me; it represents solutions to strategic business communication requirements within team environments with a variety of goals. Presented here are creative multidisciplinary  accomplishments between myself, a client, and other collaborators.
                </p>
            </div>
            <header class="page-header">
                <h1>Portfolio</h1>
            </header>
        </div>
        <section class="selects">
            {% include "partials/taxonomy/term/_selected.html" with selected_items=selected_clients item_name="clients" total_count=total_clients url="/portfolio/clients/" %}
            {% include "partials/taxonomy/term/_selected.html" with selected_items=selected_industries item_name="industries" total_count=total_industries url="/portfolio/industries/" %}
            {% include "partials/taxonomy/term/_selected.html" with selected_items=selected_media_types item_name="media_types" total_count=total_media_types url="/portfolio/media-types/" %}
            {% include "partials/taxonomy/term/_selected.html" with selected_items=selected_roles item_name="roles" total_count=total_roles url="/portfolio/roles/" %}
        </section>
        <section class="additional-info">
            <div class="container">
                <header>
                    <h2>Proven Track Record, Real-World Solutions</h2>
                </header>
                <ul class="info-list">
                    <li>
                        <h3>Design Services</h3>
                        <p>
                            With a career spanning over two decades, I provide a comprehensive range of design services that go beyond aesthetics to deliver impactful solutions. From compelling print materials that leave a lasting impression to innovative graphics that captivate your audience, I specialize in a diverse array of design domains. Whether it’s creating a distinctive brand identity, crafting engaging marketing collateral, or designing visually stunning web interfaces, my expertise extends across the design spectrum. Let’s collaborate to transform your creative vision into results-driven design solutions that resonate with your audience and drive success.
                        </p>
                    </li>
                    <li>
                        <h3>Development Expertise</h3>
                        <p>
                            With a strong background in development, I bring technical proficiency to the table. My skills encompass front-end and full-stack development, making me adept at turning design concepts into functional, interactive digital experiences. From responsive web development to creating dynamic web applications, I’m committed to delivering seamless, high-performance solutions tailored to your unique needs.
                        </p>
                    </li>
                    <li>
                        <h3>User-Centric Approach</h3>
                        <p>
                            I prioritize user-centered design and development, ensuring that every project I undertake aligns with your target audience’s preferences and needs. By conducting thorough research, usability testing, and accessibility assessments, I create designs and interfaces that resonate with users, fostering engagement and satisfaction.
                        </p>
                    </li>
                    <li>
                        <h3>Content Development</h3>
                        <p>
                            Effective communication begins with compelling content. Whether it’s crafting engaging narratives, producing informative articles, or optimizing existing content, I specialize in content development that resonates with your target audience. Drawing on my background in various industries, including technology and finance, I possess the expertise to create content that speaks directly to your audience’s needs and interests. Elevate your digital presence with tailored content that captures attention and fosters meaningful connections.
                        </p>
                    </li>
                    <li>
                        <h3>Digital Strategy</h3>
                        <p>
                            Incorporate a well-defined digital strategy into your projects to achieve a holistic approach to online success. Drawing from my extensive experience, I can assist you in formulating a comprehensive digital strategy that aligns with your business objectives. By analyzing market trends, audience behaviors, and industry insights, I develop a roadmap that ensures your online presence not only meets but exceeds expectations. From user journey mapping to content strategy, let’s collaborate to create a roadmap that positions your brand for digital excellence.
                        </p>
                    </li>
                    <li>
                        <h3>UX/UI Design</h3>
                        <p>
                            User experience (UX) and user interface (UI) design are at the heart of creating digital solutions that captivate and engage your audience. With my specialized expertise in UX/UI design, I prioritize crafting seamless and visually appealing user experiences. From wireframing and prototyping to interactive design elements, I ensure that your digital platforms not only look stunning but also provide intuitive and enjoyable interactions. Elevate your projects with design solutions that prioritize user satisfaction, resulting in increased user retention and conversions.
                        </p>
                    </li>
                    <li>
                        <h3>Accessibility Solutions</h3>
                        <p>
                            Web accessibility is essential in today’s digital landscape, ensuring that your online content is inclusive and accessible to everyone. My commitment to accessibility means that I incorporate WCAG standards and best practices into all my projects. From creating designs that are screen reader-friendly to optimizing for mobile devices, I prioritize making your digital presence welcoming to all users. Ensure that your website complies with accessibility guidelines and provides an inclusive experience for everyone, demonstrating your commitment to diversity and user inclusivity.
                        </p>
                    </li>
                    <li>
                        <h3>Project Management</h3>
                        <p>
                            My extensive experience equips me with strong project management capabilities. I excel at collaborating with cross-functional teams, managing timelines, and ensuring projects meet or exceed expectations. From inception to completion, I provide effective communication, transparency, and accountability to ensure your project’s success.
                        </p>
                    </li>
                    <li>
                        <h3>Innovation and Adaptability</h3>
                        <p>
                            In a constantly evolving digital landscape, I stay ahead by embracing new technologies and methodologies. Whether it’s integrating the latest web technologies, optimizing for mobile devices, or adhering to industry best practices, I remain committed to delivering innovative, future-proof solutions that keep you ahead of the curve.
                        </p>
                    </li>
                    <li>
                        <h3>Customized Solutions</h3>
                        <p>
                            Recognizing that each project is unique, I tailor my services to your specific objectives. I take the time to understand your goals, challenges, and vision, allowing me to create customized strategies and solutions that address your distinct needs and drive tangible results.
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="value-statement">
            <div class="container">
                <div class="text">
                    <h2>
                        With a solid background dedicated to design and development I’m sure I can make a valuable addition to your project or organization.
                    </h2>
                </div>
            </div>
        </section>
    </main>
{% endblock portfolio_content %}
