{% extends "portfolio/base_taxonomy.html" %}
{% block intro %}
    <p>
        Educated at CalArts in Visual Communications then U.C. Berkeley for Webmaster, Linux Server Administration, and Marketing degrees has given me a broad formal education. Combining that with years of hands-on experience, I’m able to step into multiple roles from concept development, to designing branding elements and page layouts, to running A/B tests and user testing, to final implementation. Working within multi-disciplinary teams I’m also able to communicate effectively with stakeholders using germane nomenclature to collaborate on design, development, and marketing efforts.
    </p>
{% endblock intro %}
{% block taxonomy_content %}
    {% include "partials/taxonomy/term/_highlighted.html" with item_name="role" highlighted_items=highlighted_roles %}
    {% include "partials/taxonomy/_categories.html" with item_name="roles" items=roles %}
{% endblock taxonomy_content %}
