{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        My Site
      {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    {% include 'partials/_header.html' %}
    <div class="wrapper">
      {% include 'partials/_subnav_portfolio.html' %}
      <main class="portfolio-taxonomy-term">
        <div class="container">
          <div class="intro">
            {% block intro %}

            {% endblock %}
          </div>
          {% include 'partials/_header_taxonomy_term.html' %}
          {% block taxonomy_content %}

          {% endblock %}
        </div>
      </main>
      {% include 'partials/_footer.html' %}
    </div>
  </body>
</html>
