{% load filters %}
<section class="taxonomy-highlights {{ item_name|replace_underscore_with_dash }}-highlights">
    <div class="container">
        <h2>{{ item_name|replace_underscore_with_space|title }} Highlights</h2>
        <ul class="showcase-list">
            {% for item in highlighted_items %}
                {% include "partials/taxonomy/term/_item_card.html" with term=item %}
            {% empty %}
                <li>No highlighted {{ item_name|replace_underscore_with_space|title }} available.</li>
            {% endfor %}
        </ul>
    </div>
</section>
