{% load static %}
<section class="thumbnails">
    <div class="container">
        <section class="thumbnail-previews">
            <div class="container">
                {% include "partials/pagination/_bar.html" with total_projects=total_projects count_type=count_type %}
                <ul class="grid">
                    {% for item in page_obj %}
                        <li class="grid-item">
                            <a href="{% url 'project_detail' slug=item.slug %}">
                                <figure>
                                    <figcaption>
                                        <h3>{{ item.project.name }}</h3>
                                        {% if item.project.name != item.name %}<p class="sub-title">{{ item.name }}</p>{% endif %}
                                        <div class="text-wrapper">
                                            <p class="description">
                                                <span>Project Description:</span> {{ item.project.description }}
                                            </p>
                                            <p class="click-to-view">Click for project detail view</p>
                                        </div>
                                    </figcaption>
                                    {% if item.image %}
                                        <img src="{% static "portfolio/images/project-item-images/medium/"|add:item.image.medium %}" alt="{{ item.name }} project image" height="" width="" />
                                    {% else %}
                                        <p class="no-image">No image found for this project item.</p>
                                    {% endif %}
                                </figure>
                            </a>
                        </li>
                    {% empty %}
                        <li>No project items to display in this taxonomy.</li>
                    {% endfor %}
                </ul>
                {% include "partials/pagination/_bar.html" with total_projects=total_projects count_type=count_type %}
            </div>
        </section>
    </div>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const elem = document.querySelector('.grid');
            if (elem) {
                if (typeof imagesLoaded === 'undefined' || typeof Isotope === 'undefined') {
                    console.error('Could not load imagesLoaded or Isotope');
                    return;
                }
                imagesLoaded(elem, function() {
                    // init Isotope after all images have loaded
                    const iso = new Isotope( elem, {
                        itemSelector: '.grid-item',
                        layoutMode: 'masonry',
                        percentPosition: true,
                        masonry: {
                            columnWidth: '.grid-item'
                        }
                    });
    
                    // create observer
                    const observer = new IntersectionObserver(function(entries) {
                        entries.forEach(function(entry) {
                            if (entry.isIntersecting) {
                                entry.target.classList.add('in-view');
                                observer.unobserve(entry.target);
                            }
                        });
                    });
    
                    document.querySelectorAll('li.grid-item').forEach(item => {
                        observer.observe(item);
                    });
                });
            } else {
                console.error('Could not find element with class "grid"');
            }
        });
    </script>
</section>
