<nav>
    <ul>
        <li>
            {% if 'home' in request.path %}
                <a href="{% url 'home' %}" aria-current="true">Home</a>
            {% else %}
                <a href="{% url 'home' %}">Home</a>
            {% endif %}
        </li>
        <li>
            {% if 'portfolio' in request.path %}
                <a href="{% url 'portfolio' %}" aria-current="true">Portfolio</a>
            {% else %}
                <a href="{% url 'portfolio' %}">Portfolio</a>
            {% endif %}
        </li>
        <li>
            {% if 'about' in request.path %}
                <a href="{% url 'about' %}" aria-current="true">About</a>
            {% else %}
                <a href="{% url 'about' %}">About</a>
            {% endif %}
        </li>
        <li>
            {% if 'contact' in request.path %}
                <a href="{% url 'contact' %}" aria-current="true">Contact</a>
            {% else %}
                <a href="{% url 'contact' %}">Contact</a>
            {% endif %}
        </li>
    </ul>
</nav>
