<div class="sub-nav">
    <div class="container">
        <div class="totals">
            <p>
                Presenting <span>{{ global_total_projects }}</span> projects including <span>{{ global_total_project_items }}+</span> examples
            </p>
        </div>
        <div class="nav portfolio-sub-tabs">
            <ul>
                <li class="prompt">Browse by:</li>
                <li>
                    <a target="_top"
                       href="{% url 'clients' %}"
                       {% if 'clients' in request.path %}aria-current="true"{% endif %}>Clients</a>
                </li>
                <li>
                    <a target="_top"
                       href="{% url 'industries' %}"
                       {% if 'industries' in request.path %}aria-current="true"{% endif %}>Industries</a>
                </li>
                <li>
                    <a target="_top"
                       href="{% url 'mediatypes' %}"
                       {% if 'media-types' in request.path %}aria-current="true"{% endif %}>Media Types</a>
                </li>
                <li>
                    <a target="_top"
                       href="{% url 'roles' %}"
                       {% if 'roles' in request.path %}aria-current="true"{% endif %}>Roles</a>
                </li>
                <li>
                    <a target="_top"
                       href="{% url 'projects' %}"
                       {% if 'projects-list' in request.path %}aria-current="true"{% endif %}>Project List</a>
                </li>
            </ul>
        </div>
        <div class="dropdown portfolio-sub-nav">
            <p class="prompt">Browse:</p>
            <div class="dropdown-wrapper">
                <ul class="current">
                    <li class="current-selection all-selection">
                        <div>Select...</div>
                    </li>
                </ul>
                <ul class="menu" role="menu">
                    <li>
                        <a target="_top"
                           href="{% url 'clients' %}"
                           {% if 'clients' in request.path %}aria-current="true"{% endif %}>Clients</a>
                    </li>
                    <li>
                        <a target="_top"
                           href="{% url 'industries' %}"
                           {% if 'industries' in request.path %}aria-current="true"{% endif %}>Industries</a>
                    </li>
                    <li>
                        <a target="_top"
                           href="{% url 'mediatypes' %}"
                           {% if 'media-types' in request.path %}aria-current="true"{% endif %}>Media Types</a>
                    </li>
                    <li>
                        <a target="_top"
                           href="{% url 'roles' %}"
                           {% if 'roles' in request.path %}aria-current="true"{% endif %}>Roles</a>
                    </li>
                    <li>
                        <a target="_top"
                           href="{% url 'projects' %}"
                           {% if 'project-list' in request.path %}aria-current="true"{% endif %}>Project List</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
