{% load tags %}
<section class="prev-next">
    <div class="container">
        <ul>
            <li class="prev">
                <a href="{{ previous_object.get_absolute_url }}" rel='prev'>
                    <p>
                        <span class="prev-next-label"><span class="sort-order">Previous</span> {% verbose_name object %}</span>
                        <span class="truncate">
                            {% if view.get_class_name == "ProjectDetailsView" and previous_object.project.name != previous_object.name %}
                                {{ previous_object.project.name }} -
                            {% endif %}
                            {{ previous_object.name }}
                        </span>
                    </p>
                </a>
            </li>
            <li class="next">
                <a href="{{ next_object.get_absolute_url }}" rel='next'>
                    <p>
                        <span class="prev-next-label"><span class="sort-order">Next</span> {% verbose_name object %}</span>
                        <span class="truncate">
                            {% if view.get_class_name == "ProjectDetailsView" and next_object.project.name != next_object.name %}
                                {{ next_object.project.name }} -
                            {% endif %}
                            {{ next_object.name }}
                        </span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
