{% load tags %}
<section class="prev-next">
    <div class="container">
        <ul>
            {% if previous_object %}
                <li class="prev">
                    <a href="{{ previous_object.get_absolute_url }}" rel='prev'>
                        <p>
                            <span class="prev-next-label"><span class="sort-order">Previous</span> {{ previous_object.get_verbose_name }}</span>
                            <span class="truncate">
                                {% if previous_object.get_project_and_item_name %}
                                    {{ previous_object.get_project_and_item_name }}
                                {% else %}
                                    {{ previous_object.name }}
                                {% endif %}
                            </span>
                        </p>
                    </a>
                </li>
            {% endif %}
            {% if next_object %}
                <li class="next">
                    <a href="{{ next_object.get_absolute_url }}" rel='next'>
                        <p>
                            <span class="prev-next-label"><span class="sort-order">Next</span> {{ next_object.get_verbose_name }}</span>
                            <span class="truncate">
                                {% if next_object.get_project_and_item_name %}
                                    {{ next_object.get_project_and_item_name }}
                                {% else %}
                                    {{ next_object.name }}
                                {% endif %}
                            </span>
                        </p>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</section>
