.color-bullets {
    list-style-type: none;
    margin: 1em 0;
    padding: 0 0 0 .25em;

    li {
        padding-left: 1em;
        text-indent: -.7em;

        + li {
            margin-top: .5em;
        }

        &:before {
            color: $theme-color;
            content: "• ";
            font-size: 125%;
            line-height: 1;
            vertical-align: -.06em;
        }
    }
}