.btn {
    background-color: $text-link-color;
    box-shadow: rgba(black, 0.3) 0 2px 6px;
    color: $white;
    display: inline-block;
    padding: .75em 1.5em;
    transition: all $transition-speed ease-in-out;

    &:hover {
        background-color: $white;
        box-shadow: rgba(black, 0.3) 0 4px 8px;
        color: $text-link-color;
    }
}