.dpportfolio section.stage {
    .content-two-up-table {

        th,
        td {
            padding: .5em 1em;
            text-align: left;
            vertical-align: top;
        }

        th {
            font-weight: 500;
        }

        td {
            &.divider {
                padding: 1em;

                span {
                    background-color: #ddd;
                    display: block;
                    height: 1px;
                }
            }

            &.version-and-note {
                p {
                    + p {
                        margin-bottom: 0;
                    }
                }
            }

            &.description-with-image {
                font-size: .8em;

                img {
                    margin-top: .5em;
                    padding: .25em;
                }
            }
        }

        .presentation-title,
        .version {
            color: var(--t9);
        }

        img {
            max-width: 100%;
        }
    }

    .imvu-persuasion-table {
        border-collapse: collapse;
        font-size: .8em;
        margin: 0 auto;

        th,
        td {
            color: #666;
            padding: .5em;
            text-align: left;
            vertical-align: top;
        }

        h3 {
            background-color: #999999;
            color: var(--t7);
            font-weight: 700;
            padding: .75em .5em;
        }

        .vs {
            display: block;
            margin: .75em 0 0 .75em;
            ;
        }

        ul {
            margin: 1em;
            padding: 0;

            li {
                margin: .5em 0;
            }
        }

        .halo {
            box-shadow: inset 0 0 26px transparentize(#3c0, .7);

            h3 {
                background-color: #3c0;
            }

            li:before {
                content: "• ";
                color: #3c0;
            }

            &:hover {
                box-shadow: inset 0 0 32px transparentize(#3c0, .3);

                h3 {
                    background-color: #02b70b;
                }
            }
        }
    }

    .matrix-example {
        text-align: left;

        h4 {
            color: var(--black);
            font-weight: 500;
        }

        th h4 {
            font-weight: 700;
        }

        p {
            margin: 0;
            text-align: left;
        }

        + table.matrix-example {
            border-top: none;
            margin-top: 1em;
        }
    }

    .align-left-text {
        p {
            text-align: left;
        }
    }
}