.project-details-page section.stage {
    .product-photos {
        figure + figure {
            margin: 0;
        }

        img {
            margin: 0 auto;
            padding: 1.5rem 2rem;
        }

        figure {
            img {
                margin: 0 auto;
                padding: 1.5rem 2rem;
            }
        }

        p {
            margin-bottom: 0;
        }
    }
}