.dropdown {
    position: relative;

    p {
        display: inline-block;
        margin: 0 .125em 0 1em;
        white-space: nowrap;
    }

    .dropdown-wrapper {
        display: inline-block;
        position: relative;

        &:hover {
            ul.current {
                border-color: var(--t11);
            }

            ul.menu {
                display: block;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        z-index: 2;

        a {
            color: var(--t3);
            cursor: pointer;
            display: block;
            margin: 0;
            padding: .5em 1em;

            &:hover {
                background-color: var(--t13);
            }
        }
    }

    .current {
        border: 1px solid transparent;
        border-bottom: none;

        li.current-selection {
            a {
                color: var(--t3);

                &:after {
                    color: var(--t3);
                    content: "\25bc\FE0E";
                    display: inline-block;
                    font-size: .75em;
                    margin: .25em 0 0 .5em;
                    vertical-align: middle;
                }
            }
        }
    }

    .menu {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        position: absolute;
        width: 100%;
        display: none;
        background-color: var(--t7);
        border: 1px solid var(--t11);
        border-color: var(--t11);
        border-top: none;

        li {
            width: 100%;
        }
    }

    &.portfolio-sub-nav {
        margin: 1em 0;

        .prompt {
            font: normal 1.125em/1.4 'Oswald', sans-serif; // 18 / 16
        }

        .dropdown-wrapper {
            width: 8em;
        }

        ul.current {
            background-color: var(--t7);
            border-color: var(--t11);
            color: var(--t3);

            div {
                padding: .5em 1em;
                position: relative;

                &:after {
                    color: var(--t3);
                    content: "\25bc\FE0E";
                    display: inline-block;
                    font-size: .65em;
                    position: absolute;
                    right: 1em;
                    margin-top: .5em;
                }
            }
        }
    }
}