.expando {
    background-color: var(--t7);
    margin: 0;
    padding: 0;
    position: relative;

    input[type="checkbox"] {
        display: none;
    }

    // Bottom right triangle
    &::after {
        border: .75rem solid transparent;
        border-top-color: transparentize(black, .86);
        border-left-color: transparentize(black, .86);
        content: '';
        height: 0px;
        width: 0px;
        position: absolute;
        right: 0px;
        bottom: -1.5rem;
    }

    + .expando {
        margin: 1rem 0 0 0;
    }
}

.project-additional-samples {
    display: none;
}

// Checkbox hack to show/hide content
.expando-trigger {
    cursor: pointer;
    padding: .75rem 1rem .75rem 2.15rem;

    // Arrow
    &::before {
        color: var(--t3);
        content: "\25B6\FE0E";
        display: inline-block;
        font-size: .7rem;
        transition: all 1s ease-in-out, transform var(--transition-speed-slow) ease-in-out .5s;
        position: absolute;
        left: 1.15rem;
        top: .975rem;
    }

    &:hover {
        &::before {
            filter: brightness(var(--hover-brightness-amount));
        }
    }
}

.expando-content {
    margin: -.25rem 0 0;
    padding: 0 1rem 0;
    width: 100%;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, max-height .6s ease-in-out 0.3s, padding 0.5s ease-in-out .6s; // hiding content

    a {
        &:hover {
            filter: brightness(var(--hover-brightness-amount));
        }
    }
}

// If .expando has checkbox checked attribute, show content
.expando:has(.expando-toggle:checked) {
    .expando-content {
        opacity: 1;
        max-height: 600px;
        padding: 0 1rem 1rem;
        transition: opacity 0.5s ease-in-out .6s, max-height 0.5s ease-in-out; // showing content
    }

    .expando-trigger {
        &::before {
            transform: rotate(90deg);
            transition: transform var(--transition-speed-faster) ease-in-out;
        }
    }
}