body > header {
    color: var(--t7);
    width: 100%;

    .container {
        position: relative;
        overflow: visible;
        //
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: $header-media-query-break) {
            flex-direction: column;
            justify-content: flex-start;

            .site-branding {
                display: block;
                padding: 1em 0 0;
                text-align: center;
            }

            .site-description {
                margin: 1em auto 0;
            }
        }
    }

    .site-branding {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

header nav {
    ul {
        list-style-type: none;
        font: normal 1.3125em/1 'Oswald', sans-serif; // 21 / 16
        margin: 0;
        padding: 1.175em 0 0;
        //
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;

        li {
            margin: 0;
            position: relative;

            a {
                color: var(--t12);
                display: inline-block;
                padding: .5em .75em .75em;
                position: relative;
                white-space: nowrap;
                transition: color var(--transition-speed-faster) ease-in-out;

                &:hover {
                    color: var(--t7);
                }
            }

            [aria-current] {
                color: var(--t7);
                transition: none;
            }
        }
    }
}