body > header {
    color: var(--t7);
    width: 100%;

    .container {
        flex-direction: column;
        justify-content: center;
        overflow: visible;
        position: relative;
        text-align: center;

        .site-branding {
            display: block;
            padding: 1rem 0 0;
        }

        .site-description {
            margin: .25rem 0 0;
        }

        @media only screen and (min-width: $header-media-query-break) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            text-align: left;
        }
    }

    .site-branding {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
}

header nav {
    ul {
        list-style-type: none;
        font: normal 1.3125rem/1 'Oswald', sans-serif; // 21 / 16
        margin: .25rem auto .5rem;
        padding: 0;
        //
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        li {
            margin: 0;
            position: relative;

            a {
                color: var(--t12);
                display: inline-block;
                padding: .5rem 1rem .75rem;
                position: relative;
                white-space: nowrap;
                transition: color var(--transition-speed-faster) ease-in-out;

                &:hover {
                    color: var(--t7);
                }
            }

            [aria-current] {
                color: var(--t7);
                transition: none;
            }
        }

        @media only screen and (min-width: $header-media-query-break) {
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: .65rem;
            right: 0;
        }
    }
}