.showcase-list {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
    grid-template-rows: auto;
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;

    li {
        margin: 0;
        min-height: 9rem;
        min-width: 0;
        position: relative;
        text-align: center;
    }

    // clip-path used for top right triangle shaped notch on hover
    a {
        background-color: var(--t7);
        clip-path: polygon(calc(100% - 30px) 0, 100% 30px, 100% 100%, 0 100%, 0 0);
        display: grid;
        height: 100%;
        padding: 0;
        place-items: center;
        position: absolute;
        transition: color var(--transition-speed-slower) linear;
        width: 100%;

        &::before {
            background: var(--t3);
            content: '';
            display: block;
            height: 300%;
            width: 300%;
            position: absolute;
            left: calc(-240%); // offset from the left by the width of the 'a' element
            bottom: calc(-240%); // offset from the bottom by the width of the 'a' element
            transform: rotate(45deg);
            z-index: -10;
            transition: left var(--transition-speed-slow) ease-out, bottom var(--transition-speed-slow) ease-out;
        }

        &:hover {
            color: var(--t7);

            &::before {
                left: -125%;
                bottom: -125%;
                transition: left var(--transition-speed-slow) ease-in, bottom var(--transition-speed-slow) ease-in;
            }
        }
    }

    .taxonomy-name {
        font-weight: 700;
        line-height: 1.2;
        text-wrap: pretty;
    }

    .count {
        font-size: .75rem;
    }
}