a[target='_blank']:after {
    content: '\29C9';
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1;
    padding-left: .33em;
}

.footer-heart {
    vertical-align: text-top;
}

#heart-path {
    fill: none;
    stroke: var(--t12);
    stroke-width: 1px;
    stroke-linejoin: round;
}