$color-bullet: var(--t3);
$color-bullet-gray: #999;

// Define a mixin for bullet styles
@mixin bullet-styles($color) {
    margin: 1rem 0;

    li {
        padding-left: .7rem;
        // text-indent: -.7rem;
        position: relative;

        + li {
            margin-top: 1rem;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            width: 5px;
            height: 5px;
            background-color: $color;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}

.csv {
    display: inline;

    li {
        display: inline-block;
        margin-right: .33rem;
        white-space: nowrap;
    }
}

.colored-bullets {
    @include bullet-styles($color-bullet);
}

.gray-bullets {
    @include bullet-styles($color-bullet-gray);
}

.taxonomy-list {
    ul.colored-bullets {
        column-count: 2;
        column-gap: 1rem;

        li {
            flex: none;
            margin: 0 0 .5rem 0;
        }
    }

    p + ul.colored-bullets {
        margin-top: -.5rem;
    }
}

.taxonomy-meta {

    // on taxonomy templates
    ul.colored-bullets {
        column-count: 4;
        column-gap: 1rem;

        @media only screen and (max-width: 980px) {
            column-count: 3;
        }

        @media only screen and (max-width: 820px) {
            column-count: 2;
        }

        @media only screen and (max-width: 600px) {
            column-count: 1;
        }

        li {
            flex: none;
            margin: 0 0 .5rem 0;
        }
    }
}