$gap-between-images: .86rem;
$max-description-lines: 5;
$transition-opacity: opacity .5s ease-out;
$transition-transform: transform .5s ease-out;

@mixin transition-opacity-transform {
    transition: $transition-opacity, $transition-transform;
}

ul.grid {
    li.grid-item {
        background: var(--t7);
        margin: $gap-between-images;
        padding: 0;
        width: 258px;
        transform: translateY(50px) scale(0.5);
        opacity: 0;
        @include transition-opacity-transform;

        &.in-view {
            transform: translateY(0) scale(1);
            opacity: 1;
        }

        &:hover {
            figcaption {
                background-color: var(--t3);
            }

            .sub-title {
                background-color: rgba(255, 255, 255, 0.3) // filter: brightness(var(--hover-brightness-amount));
            }
        }
    }

    figure {
        margin: 0 0 -1px 0;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img {
        padding: 0;
        width: var(--width-portfolio-column);
    }

    figcaption {
        background-color: var(--t9);
        font-size: .8125em;
        margin: 0;
        position: relative;
        width: 100%
    }

    h3,
    .sub-title {
        line-height: 1.38196601125;
        margin: 0;
        padding: .9em 1.2em 1.1em;
    }

    h3 {
        color: var(--t7);
        font: normal 100%/1.61803398875 'Source Sans Pro', sans-serif;
    }

    .sub-title {
        background-color: var(--dark-grays-500);
        color: var(--t7);
        padding: .8em 1.2em 1em;
    }

    .text-wrapper {
        color: var(--t5);
        display: block;
        opacity: 0;
        padding: .75em 1em;
        position: absolute;
        width: 100%;

        p {
            margin: 0;

            + p {
                margin-top: .5em;
            }
        }

        .description {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: $max-description-lines;

            span {
                color: var(--t9);
            }
        }

        .click-to-view {
            color: var(--t3);
            display: block;
            text-decoration: underline;
        }
    }
}