$padding-small: 0.25rem;
$padding-medium: 0.5rem;
$padding-large: 1rem;
$font-small: 0.75rem;
$font-large: 21px;
$breakpoint: 900px;

.pagination-bar {
    background-color: var(--t7);
    font-size: 0.8125em;
    margin: 0 0 1em;
    padding: $padding-medium;
    min-height: 3.75em;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: $breakpoint) {
        flex-flow: row wrap;
    }
}

.total-items {
    margin: 0;

    p {
        color: var(--black);
        margin: 0 1em;
        white-space: nowrap;
    }

    @media only screen and (min-width: $breakpoint) {
        margin-right: auto;
    }
}

.pagination {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .items-sort {
        margin: $padding-medium $padding-large $padding-medium;

        label {
            margin-right: $padding-small;
        }

        select {
            border-color: var(--t8);
            border-radius: .25rem;
            font-size: $font-small;
            padding: $padding-small;
        }
    }

    .step-links,
    .back-links,
    .forward-links {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .ellipsis {
        padding: $padding-small $padding-large;
    }

    p {
        margin: 0;
        display: none;
        padding: 0;

        @media only screen and (min-width: $breakpoint) {
            margin-left: 1em;
            margin-right: $padding-small;
            display: block;
        }
    }

    .page-numbers {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li:last-of-type {
            a {
                margin-right: 0;
            }
        }

        span {
            display: block;
        }

        .current {
            background-color: var(--t4);
            color: var(--t5);
            padding: $padding-small $padding-medium;
        }

        .dots {
            padding: .75em $padding-small 0;
        }
    }

    .page-number,
    .prev,
    .next {
        cursor: pointer;
        display: block;
        margin: 0;
        padding: $padding-small $padding-medium;

        &:hover {
            background-color: var(--t11);
        }
    }

    span.arrow {
        display: block;
        font-size: $font-large;
        line-height: 1;
        padding-bottom: 0.15rem;
    }

    @media only screen and (min-width: $breakpoint) {
        flex-flow: row nowrap;
    }
}