$background-color: var(--t4);
$label-color: var(--t6);
$icon-background-color: var(--t3);
$icon-background-color-hover: var(--t7);
$divider-color: var(--t8);

.prev-next {
    background-color: $background-color;
    flex: none;
    margin: 0 auto;
    padding: 1rem 0;
    transition: background-color var(--transition-speed) ease-out;
    width: 100%;

    .container {
        margin: 0 auto;
        overflow: auto;
        padding: 0 1em;
    }

    p {
        margin: 0 0 -.25em;
        padding: 0;
        text-wrap: balance;
    }

    span {
        &.prev-next-label {
            color: $label-color;
            display: block;
            font: 700 .75em/1.61803398875 'Bitter', sans-serif;
            letter-spacing: .25em;
            position: relative;
            text-transform: uppercase;
            white-space: nowrap;
            width: 100%;
        }

        &.truncate {
            display: block;
            line-height: 1.4;
            max-width: 90%;
            width: 100%;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        //
        display: flex;
        flex-flow: row nowrap;

        li {
            flex: 1;
            max-width: 50%;

            a {
                display: block;
                height: 100%;
                overflow: hidden;
                padding: 1em 2em;
                position: relative;

                &:before,
                &:after {
                    background-color: $icon-background-color;
                    bottom: 0;
                    height: 2.65em;
                    margin: auto;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    transition: all var(--transition-speed) ease-in-out;
                    width: 2.25em;
                }

                &:hover {
                    background-color: $icon-background-color-hover;
                    transition: all var(--transition-speed) ease-in-out;

                    &:before,
                    &:after {
                        opacity: 1;
                    }
                }
            }

            &.prev {
                border-right: 1px solid $divider-color;
                order: 1;
                text-align: right;

                span {
                    &.prev-next-label {
                        right: -.25em; // only needed if this text is flush right
                    }

                    &.truncate {
                        // specified in typography.scss
                        display: inline-block;
                        text-wrap: balance;
                    }
                }

                a {
                    padding-left: 4em;

                    &:before {
                        // note variable use in svg fill color attribute, also using ' quotes inside of " quotes for MS Edge
                        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='42' height='115' viewBox='0 0 41.8 115'><style>.a{fill:white;}</style><polygon points='30.5 0 36.2 0 41.8 0 11.3 57.5 41.8 115 36.2 115 30.5 115 0 57.5' class='a'/></svg>");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 10px;
                        content: "";
                        //
                        left: 2em;
                    }

                    &:hover {
                        &:before {
                            left: 1em;
                        }
                    }
                }
            }

            &.next {
                order: 2;
                text-align: left;

                a {
                    padding-right: 4em;

                    &:after {
                        // note variable use in svg fill color attribute, also using ' quotes inside of " quotes for MS Edge
                        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='42' height='115' viewBox='0 0 41.8 115'><style>.a{fill:white;}</style><polygon points='11.3 115 5.7 115 0 115 30.5 57.5 0 0 5.7 0 11.3 0 41.8 57.5' class='a'/></svg>");
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 10px;
                        content: "";
                        //
                        left: auto;
                        right: 2em;
                    }

                    &:hover {
                        &:after {
                            right: 1em;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: $iphone-landscape-width) {
        ul {
            li {
                max-width: none;

                &.prev {
                    border: none;
                    text-align: left;
                }

                &.next {
                    text-align: right;
                }

                &.next,
                &.prev {
                    a {
                        padding: .75em;

                        &:before,
                        &:after {
                            background-image: none;
                            display: none;
                        }

                        span {
                            &.prev-next-label {
                                color: $icon-background-color;
                                white-space: normal;
                            }

                            &.truncate {
                                display: none;
                                max-width: none;
                            }

                            .sort-order {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.prev-next:first-of-type {
    padding-bottom: 0;
}