.services {
    padding: 0 0 1rem;
    //
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        font-weight: 400;
        margin: 0;
        padding: 0 .15rem 0;
        font-size: 2rem;
    }

    h3 {
        color: var(--t6);
        font-size: 1.125rem;
        margin: 0 0 0.33rem;
    }

    p {
        margin: 0 0 1rem;
        text-wrap: pretty;
    }

    header {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 1rem 0 .5rem;
    }

    .services-list {
        columns: 2;
        padding: 1.5rem 0;

        @media (min-width: 768px) {
            columns: 2;
        }

        li {
            break-inside: avoid;
            margin-bottom: 1rem;
        }
    }
}