.selects {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    header {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 1rem 0 .5rem;
    }

    section.selected-taxonomy-items {
        margin: 1rem 0 2.75rem;
    }

    .showcase-list {
        margin: 0 auto;

        :nth-child(n+6) {
            // make sure only the first five are shown
            display: none;
        }
    }
}