$background-color: var(--t13);
$text-color: var(--t6);
$plus-color: var(--t3);

.capabilities {
    background-color: $background-color;

    .container {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        font: normal 400 1.5em/1.4 'Bitter', sans-serif; // 24 / 16
        justify-content: space-between;
    }

    .strategy,
    .design,
    .development {
        animation: fadeinfrombottom .6s;
        animation-fill-mode: forwards;
        color: $text-color;
        flex: 1;
        margin: .5em .25em;
        opacity: 0;
        padding: .5em 0;
        position: relative;
        text-align: center;
    }

    .strategy {
        animation-delay: 0.2s;
    }

    .design {
        animation-delay: 0.5s;
    }

    .development {
        animation-delay: 0.8s;
    }

    .plus {
        color: $plus-color;
        font-size: 1.4em;
        font-weight: 700;
        margin: .5em .25em;
        padding: .5em 0;
        text-align: center;
    }

    @media only screen and (max-width: 810px) {
        .container {
            flex-direction: column;
            padding: 1.5em 1em 1.75em;
        }

        .strategy,
        .design,
        .development,
        .plus {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        br {
            display: none;
        }
    }

    @media only screen and (max-width: 430px) {
        br {
            display: inherit;
        }
    }
}