// Define SASS variables
$iphone-landscape-width: 640px;
$transition-speed: 0.3s;
$min-height: 20rem;
$container-max-width: 1182px;
$container-padding: 1rem;
$thumbnail-min-height: 16rem;
$project-details-flex: 35.1945854483926%; // 416px / 1182
$error-message-padding: 2rem;

// structure css
// include padding in box widths
// re: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

//*:focus,
*:active {
    outline: none !important;
}

html,
body {
    background-attachment: fixed;
    background-color: var(--t9);
    background-image: url(images/backgrounds/tile.png);
    height: 100%;
    margin: 0;
    overflow-anchor: none; // in Chrome, removes freezing the page scroll till content below the fold is loaded
    padding: 0;
    transition: background-color $transition-speed ease-out;
    width: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    position: relative;
}

main {
    background-color: var(--t4);
    margin: 0 auto;
    min-height: $min-height;
    padding: 0;
    transition: background-color $transition-speed ease-out;
    width: 100%;
}

.home {
    main {
        background-color: transparent;
        padding-top: 0;
    }
}

section {
    width: 100%;

    &.thumbnails {
        min-height: $thumbnail-min-height;
    }
}

.container {
    margin: 0 auto;
    max-width: $container-max-width;
    padding: 0 $container-padding;
    position: relative;
    width: 100%;

    &.portfolio-page,
    &.client-page,
    &.taxonomy-project-page {
        max-width: none;
    }

    .thumbnail-previews .container {
        padding: 0;
    }
}

img {
    border-style: none;
    display: block;
}

.screen-reader-text {
    display: none;
}

body {
    > header {
        .container {
            height: auto;
        }
    }

    .wrapper {
        padding-top: 0;
    }

    @media only screen and (min-width: $iphone-landscape-width) {
        > header {
            position: relative;

            .container {
                height: 6rem;
            }
        }
    }
}

.stage {
    .display-column {
        flex: none;
        min-width: 100%;
        text-align: center;
        width: 100%;

        div {
            max-width: 100%;
        }

        img,
        table {
            display: initial;
        }

        p:first-of-type {
            margin-top: 0;
        }
    }

    .project-details {
        flex: 0 0 $project-details-flex;
        padding-bottom: 2rem;
        min-width: 100%;
    }

    @media only screen and (min-width: 980px) {
        .display-column {
            flex: 0 1 63.4517766497462%; // 750px (766-16 for right margin) / 1182
            min-width: 320px;
            text-align: left;
        }

        .project-details {
            min-width: 0;
        }

        #main .stage .business-card,
        #main .stage .promo-postcard {
            img {
                max-width: none;
            }
        }
    }
}

main header.error-message {
    margin: 0;
    padding: $error-message-padding 0;
}