// Define SASS variables
$portfolio-sub-nav-break-smaller: 720px;
$portfolio-sub-nav-break-larger: 1040px;
$font-size: 1.125rem; // 18px
$line-height: 1.4;
$font-family: 'Oswald', sans-serif;
$totals-margin: 0.5rem 0 0;
$dropdown-margin: 0.75rem 0 0.5rem;
$li-margin: 0 2.5px;
$a-padding: 0.5rem 1rem 1rem;
$before-background: rgba(255, 255, 255, .3);
$before-bottom: -330%;
$before-left: -330%;
$before-height: 400%;
$before-width: 330%;
$before-z-index: -10;
$before-transition: left var(--transition-speed-slow), bottom var(--transition-speed-slow) ease-out;
$breakpoint: 900px;

.sub-nav {
    background: var(--t3);
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-family;

    .container {
        align-items: center;
        color: var(--t7);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        .totals {
            margin: $totals-margin;

            p {
                margin: 0;
            }
        }

        .dropdown {
            margin: $dropdown-margin;
        }

        .portfolio-sub-tabs {
            display: none;
        }

        @media only screen and (min-width: $breakpoint) {
            flex-direction: row;

            .totals {
                margin: 1rem 0;
                text-align: left;
            }

            .dropdown {
                display: none;
            }

            .portfolio-sub-tabs {
                display: block;

                ul {
                    align-items: flex-start;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    margin-top: .5rem;

                    li {
                        margin: $li-margin;
                        padding: 0;

                        &:last-of-type {
                            margin-right: 0;
                        }

                        a {
                            clip-path: polygon(calc(100% - 1rem) 0, 100% 1rem, 100% 100%, 0 100%, 0 0); // use clip-path for top right triangle shaped notch
                            color: var(--t7);
                            display: block;
                            margin: 0;
                            overflow: hidden; // needed so Safari doesn't react when rolling over the unseen :before element
                            padding: $a-padding;
                            position: relative;
                            transition: background-image var(--transition-speed) ease-out;
                            white-space: nowrap;

                            @media only screen and (max-width: $portfolio-sub-nav-break-larger) {
                                padding: .5rem .5rem 1rem;
                            }

                            &::before {
                                background: $before-background;
                                bottom: $before-bottom;
                                content: '';
                                display: block;
                                height: $before-height;
                                left: $before-left;
                                position: absolute;
                                transform: rotate(45deg);
                                transition: $before-transition;
                                width: $before-width;
                                z-index: $before-z-index;
                            }

                            &:hover {
                                color: var(--t7);

                                &::before {
                                    left: -150%;
                                    bottom: -150%;
                                }
                            }
                        }

                        [aria-current] {
                            background-color: var(--t4);
                            color: var(--t3);

                            &:hover {
                                color: var(--t3);
                            }
                        }

                        &.prompt {
                            padding: .5rem 1rem 1rem; // bottom value keeps the selected tab aligned with the bottom
                        }
                    }
                }
            }
        }
    }
}