.sub-nav {
    background: $theme-color;
    background: var(--t3);

    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        color: $header-link-text-color;

        .totals {
            font: normal 1.125em/1.4 'Oswald', sans-serif;  // 18 / 16
            margin: 1em 0;

            p {
                margin: 0;
            }

        }

        @media only screen and (max-width: $portfolio-sub-nav-break-smaller) { // 720px max
            flex-direction: column;

            .totals {
                margin: .5em 0 0;
                text-align: center;
            }

            .dropdown {
                margin: .75em 0 .5em;
            }

            .portfolio-sub-tabs {
                display: none;
            }

        }

        @media only screen and (min-width: $portfolio-sub-nav-break-smaller) { // 720px min

            .dropdown {
                display: none;
            }

            .portfolio-sub-tabs {

                ul {
                    display: flex;
                    font: normal 1.125em/1.4 'Oswald', sans-serif;  // 18 / 16
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-top: .5em;

                    li {
                        margin: 0 2.5px;
                        padding: 0;
                        transition: background-image $transition-speed ease-out;
                        overflow: hidden; // needed so Safri doesn't react when rolling over the unseen :before element

                        &:last-of-type {
                            margin-right: 0;
                        }

                        a {
                            color: $white;
                            display: block;
                            margin: 0;
                            padding: .5em 1em 1em;
                            position: relative;
                            overflow: hidden;
                            white-space: nowrap;

                            @media only screen and (max-width: 1040px) {
                                padding: .5em .5em 1em;
                            }

                        }

                        // for firefox and older browsers
                        @supports not ( -webkit-clip-path: polygon( calc(100% - 1em) 0, 100% 1em, 100% 100%, 0 100%, 0 0) or polygon(calc(100% - 1em) 0, 100% 1em, 100% 100%, 0 100%, 0 0) ) {

                            a {

                                &::before { // this enables transitioning the gradient background
                                    background-image: linear-gradient(45deg, transparentize(white, .7) 0%,transparentize(white, .7) 92%,transparent 92%,transparent 100%);
                                    content: '';
                                    display: block;
                                    height: 100%;
                                    width: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    opacity: 0;
                                    //z-index: -100;
                                    transition: opacity $transition-speed ease-in-out;
                                }

                            }

                            &:not(.current-menu-item) {

                                a:hover {

                                    &:before {
                                        opacity: 1;
                                    }

                                }

                            }

                        }

                        // use clip-path for top right triangle shaped notch
                        // NOTE: This doesn't currently work in Firefox
                        @supports(-webkit-clip-path: polygon( calc(100% - 1em) 0, 100% 1em, 100% 100%, 0 100%, 0 0) or polygon(calc(100% - 1em) 0, 100% 1em, 100% 100%, 0 100%, 0 0)) {

                            a {
                                clip-path: polygon(calc(100% - 1em) 0, 100% 1em, 100% 100%, 0 100%, 0 0);

                                &::before {
                                    background: rgba( 255,255,255, .3 );
                                    content: '';
                                    display: block;
                                    height: 400%;
                                    width: 330%;
                                    position: absolute;
                                    left:-330%;
                                    bottom: -330%;
                                    transform: rotate(45deg);
                                    z-index: -10;
                                    transition: left $transition-speed-slow, bottom $transition-speed-slow ease-out;
                                }

                                &:hover {
                                    color: $white;

                                    &::before {
                                        left: -150%;
                                        bottom: -150%;
                                    }

                                }

                            }

                        }

                        &.current-menu-item {

                            a {
                                background-color: $background-color;
                                background-color: var(--t4);
                                color: $portfolio-nav-selected-text;
                                color: var(--t3);

                                &::before {
                                    content: none;
                                }

                                &:hover {
                                    background-color: $background-color;
                                    background-color: var(--t4);
                                    color: $portfolio-nav-selected-text;
                                    color: var(--t3);
                                }

                            }

                        }

                        &.prompt {
                            padding:  .5em 1em 1em; // bottom value keeps the selected tab aligned with the bottom
                        }

                    }

                }

            } // .portfolio-sub-tabs

            @media only screen and (max-width: $portfolio-sub-nav-break-larger) {
                flex-direction: column;

                .totals {
                    margin-bottom: 0;
                }

            }

        }

    }

}

.sub-nav.sub-nav-about-page {
    .container {
        justify-content: flex-end;
    }
}

// selected tabs
body.tax-client .sub-nav .nav ul .clients-tab,
body.tax-industry .sub-nav .nav ul .industries-tab,
body.tax-market .sub-nav .nav ul .markets-tab,
body.tax-platform .sub-nav .nav ul .formats-tab ,
body.tax-role .sub-nav .nav ul .roles-tab,
body.tax-project .sub-nav .nav ul .projects-tab {
    a {
        background-color: $background-color;
        background-color: var(--t4);
        color: $portfolio-nav-selected-text;
        color: var(--t3);
        &::before {
            content: none;
        }
    }
}

body .sub-nav .nav ul .projects-tab {
    //display: none;
}

