header section#tc {
    position: absolute;
    top: 0;
    right: 1.23em;
    //
    background: rgba(33, 33, 33, .85);
    //font-size: 0.6875em; // 11 / 16
    font-size: 0.8125em; // 13 / 16
    padding-top: .25em;
    width: 16em;
    z-index: 1;
    //
    display: none;

    @supports (--css: variables) {
        // test the browser understands css variables
        display: flex;
    }

    flex-flow: column nowrap;
    align-items:flex-start;
    align-content:flex-start;

    @media only screen and (max-width: $iphone-landscape-width) {
        display: none;
    }

    &.expando:after {
        border: none;
    }

    h3,
    h4 {
        //margin: 0 0 1em;
    }

    h3 {
        color: var(--t7);
        font-size: 1em;
        text-align: left;
        width: 100%;
    }

    h4 {
        color: #ccc;
        font-size: 1em;
        margin: .5em 0 .25em;
    }

    .expando-content {}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            + li {
                margin-top: .2em;
            }
        }

        &.sets {
            padding: 0 0 .5em 0;

            li {
                cursor: pointer;
                display: block;
                height: 2.25em;
                line-height: 1.85;
                padding: .25em .5em .25em 1.75em;
                background: #333;
                position: relative;

                &:before {
                    position: absolute;
                    left: .5em;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    //
                    content: "";
                    height: 0.818181818181818em; // 9 / 11
                    width: 0.818181818181818em;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
 width='9px' height='9px' viewBox='0 0 9 9' style='enable-background:new 0 0 9 9;' xml:space='preserve' > <path id='outline' style='fill:white;' d='M4.5,1C6.4,1,8,2.6,8,4.5C8,6.4,6.4,8,4.5,8S1,6.4,1,4.5C1,2.6,2.6,1,4.5,1 M4.5,0
 C2, 0, 0, 2, 0, 4.5S2, 9, 4.5, 9S9, 7, 9, 4.5S7, 0, 4.5, 0L4.5, 0z'/>
 </svg>");

                    }

                    &.selected {
                        background: transparent;

                        &:before {
                            background-image:url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
 width='9px' height='9px' viewBox='0 0 9 9' style='enable-background:new 0 0 9 9;' xml:space='preserve' > <style type='text/css' > .st0 {
                                    fill:white;
                                }

                                .st1 {
                                    fill:white;
                                }

                                </style> <path id='outline' class='st0' d='M4.5,1C6.4,1,8,2.6,8,4.5S6.4,8,4.5,8S1,6.4,1,4.5S2.6,1,4.5,1 M4.5,0C2,0,0,2,0,4.5S2,9,4.5,9
 S9, 7, 9, 4.5S7, 0, 4.5, 0L4.5, 0z'/>
 <circle id='dot' class='st1' cx='4.5' cy='4.5' r='2' /> </svg>");

                            }
                        }

                        &:hover {
                            filter: brightness(var(--hover-brightness-amount));
                        }
                    }
                }

                &.options {
                    list-style-type: none;

                    li {
                        display: flex;
                        justify-content: space-between;
                        align-content: center;
                    }
                }
            }

            label {
                margin-right: 1em;
            }

            input[type='color'] {
                /* removes default styling from input color element */
                margin: 0;
                padding: 0;
                border: 1px solid #555;
                color: transparent;
                cursor: pointer;
                //
                width: 2em;
                height: 1.5em;
                user-select: none;

                &:focus {
                    //outline: none; // to show outline since color selection palette can stay open when switching between input selections
                }

                /* removes default styling from input color element */
                &::-webkit-color-swatch {
                    border: none;
                }

                /* removes default styling from input color element  */
                &::-webkit-color-swatch-wrapper {
                    padding: 0;
                }
            }
        }