.toggle-overview-detail {
    font-size: 0.8125em; // 13 / 16
    margin: -.5em 0 1em;

    .bar {
        background-color: $white;
        min-height: 3.75em;
        //
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
    }

    p {
        margin: 0 1em 0 1em;
        white-space: nowrap;
        display: none;
    }

    nav {
        margin-right: .5em;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        //
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    li {
        margin: 0;
    }

    a {
        background-color: $white;
        cursor: pointer;
        display: block;
        margin: 0 .1em;
        padding: .25em .75em;

        &:hover {
            background-color: $hightlight-tint;
        }
    }

}
