.project-details {
    margin-bottom: 2em; // needed for layouts without additional samples

    h4 {
        color: var(--t6);
        display: inline;
        font: normal 100%/1.61803398875 'Oswald', sans-serif;
        margin-right: .25em;

        &:after {
            content: ":";
        }
    }

    p {
        display: inline;
        margin: 0;
    }

    .project-client-description {
        p {
            display: block;
            margin: 1em 0;

            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.project-overview-page {
    .project-details {
        .container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-start;

            > section {
                width: 48%;

                + section {
                    margin-top: 0;
                }
            }
        }
    }
}

.project-details-page {
    .project-details {
        section:last-of-type {
            margin-bottom: 0;
        }
    }
}