// used on top level taxonomy pages that list all taxonomy categories
.taxonomy-categories {
    padding-bottom: 2em;

    .taxonomy-list {
        width: 100%;
        //
        column-gap: 2em;
        column-width: 220px;

        li {
            margin-bottom: .5em;
        }

        a {
            &:hover {
                filter: brightness(var(--hover-brightness-amount));
            }
        }
    }
}

.taxonomy-highlights {
    .container {
        padding: 0;
    }
}