// used on top level taxonomy pages that list all taxonomy categories
.taxonomy-categories {
    padding-bottom: 2em;

    .taxonomy-list {
        width: 100%;
        //
        column-gap: 2em;
        column-width: 220px;

        li {
            margin-bottom: .5em;
        }

        a {
            &:hover {
                filter: brightness(var(--hover-brightness-amount));
            }
        }
    }
}

.taxonomy-highlights {
    .container {
        padding: 0;
    }
}

.roles-page.taxonomy-categories {
    h2 {
        margin-bottom: 1.5rem;
    }

    .taxonomy-list {
        columns: 1;

        @media (min-width: 768px) {
            columns: 2;
        }

        @media (min-width: 1024px) {
            columns: 3;
        }

        li {
            break-inside: avoid;
            margin-bottom: 1rem;
        }

        h3 {
            // break-before: column;
            margin: 0 0 .33rem;
        }

        p {
            margin: 0 0 1rem;
            text-wrap: balance;
        }
    }
}