main.contact-page {
    padding-bottom: 3em;

    section.intro {
        padding-bottom: 1em;
    }

    .contact-info {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 -.5em;

        div.center-center {
            align-items: center;
            background-color: var(--t7);
            display: flex;
            flex: 1 1 22%;
            justify-content: center;
            margin: .5em;
            min-width: 254px;
            padding: 2em;
            text-align: center;
        }

        p {
            margin-bottom: 0;
        }
    }
}