.hire-me-page {
    section {
        h1 {
            font: normal 500 1.61803398875em/1 arial, sans-serif;
        }
    }

    section.rates {
        .container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-content: flex-start;
            margin: 0 -.5em;
        }
    }

    .package {
        border: 1px solid #ccc;
        margin: 1em .5em;
        padding: 1em;

        h1 {
            color: black;
            font: normal 500 1.61803398875em/1 arial, sans-serif;
            margin: .5em .5em .5em;
            text-align: center;
        }

        h2 {
            color: #333;
            font: normal 500 1.2em/1 arial, sans-serif;
            text-align: center;
        }

        p {
            &.list-heading {
                margin-bottom: 0;
            }
        }

        ul {
            li {
                padding: .25em .5em;
            }
        }

        .cta {
            font: normal 500 1.61803398875em/1 arial, sans-serif;
            padding: 1em 0;
            text-align: center;
        }
    }
}