.resume-page {
    .jobs-and-eduction-experience {
        .container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    .job-profiles,
    .education-profiles {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            + li {
                border-top: 1px solid #ccc;
                margin-top: 2em;
                padding-top: 2em;
            }
        }

        h2 {
            line-height: 1.4;
        }

        h3 {
            line-height: 1.4;
        }
    }

    .column {
        background: var(--t7);
        padding: 2em;

        &.jobs-and-eduction {
            flex: 0 0 72%;
            order: 1;
            margin-bottom: 2em;

            h2 {
                margin-top: 0;

                span {
                    color: $body-text-color;
                    font-size: .58333333333333em; // 14 / 24
                }
            }
        }

        &.sidebar-info {
            flex: 0 0 26%;
            order: 2;
            min-width: 210px;

            p {
                font-size: .875em;
                margin: .75em 0;
            }
        }
    }
}