main.error-404-page {
    .page-content {
        margin-top: 1em;
    }

    h1 {
        font-size: 2.5em;
        margin-bottom: 0.5em;
    }
}

header {
    &.error-message {
        &.plugin-not-active {
            h1 {
                color: #424242;
            }
        }
    }
}