{% comment %} For example show 5 highlighted roles [41, 167, 103, 78, 58] {% endcomment %}
<section class="taxonomy-highlights client-highlights">
  <div class="container">
      <h2>Client Highlights</h2>
      <ul class="highlights-list">
        {{ for role in highlighted_roles }}
          <li class="highlight">
            <a href="#" title="View all project samples created for name"><span class="shape-wrapper"><span class="text-wrapper">name</span><span class="count">(###)</span></span></a>
          </li>
        {{ endfor }}
      </ul>
    </div>
</section>
