{% extends 'base_portfolio.html' %}

{% block content %}
  {% comment %} <ul>
    {% for project in projects %}
      <li>
        <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
      </li>
      {% empty %}
      <li>No projects available.</li>
    {% endfor %}
  </ul> {% endcomment %}
  <main id="main" class="site-main portfolio-page" role="main">
    <div class="container">
      <div class="intro">
        <p>Thanks for looking! Note this portfolio presents more than artistic talent from just me, it represents solutions to strategic business communication requirements within team environments with a variety of goals. Presented here are creative accomplishments between myself, a client, and other&nbsp;collaborators.</p>
      </div>

      <header class="page-header">
        <h1>Portfolio</h1>
      </header>
    </div>

    <section class="selects">
      <section class="selected-taxonomy-items">
        <div class="container">
          <header>
            <h2>Selected Clients</h2>
            <p>
              Check out work from 73 <a href="/portfolio/clients/">happy clients, employers, <span style="white-space:nowrap">and partnerships</span></a>.
            </p>
          </header>
          <ul class="showcase-list">
            <li>
              <a href="https://danpoynor.com/portfolio/clients/insightly/" title="View all project samples created for Insightly"><span class="text-wrapper"><span class="taxonomy-name">Insightly</span><span class="count">(49)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/clients/reputation/" title="View all project samples created for Reputation.com"><span class="text-wrapper"><span class="taxonomy-name">Reputation.com</span><span class="count">(10)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/clients/adobe/" title="View all project samples created for Adobe"><span class="text-wrapper"><span class="taxonomy-name">Adobe</span><span class="count">(47)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/clients/yahoo/" title="View all project samples created for Yahoo!"><span class="text-wrapper"><span class="taxonomy-name">Yahoo!</span><span class="count">(54)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/clients/hp/" title="View all project samples created for HP"><span class="text-wrapper"><span class="taxonomy-name">HP</span><span class="count">(36)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/clients/aol/" title="View all project samples created for AOL"><span class="text-wrapper"><span class="taxonomy-name">AOL</span><span class="count">(20)</span></span></a>
            </li>
          </ul>
        </div>
      </section>
      <section class="selected-taxonomy-items">
        <div class="container">
          <header>
            <h2>Selected Industries</h2>
            <p>
              View a few <a href="/portfolio/industries/">successful strategic design results</a> from 39 markets <span style="white-space:nowrap">and industries served.</span>
            </p>
          </header>
          <ul class="showcase-list">
            <li>
              <a href="https://danpoynor.com/portfolio/industries/financial-services/" title="View all project samples created for Financial Services"><span class="text-wrapper"><span class="taxonomy-name">Financial Services</span><span class="count">(122)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/industries/technology/" title="View all project samples created for Technology"><span class="text-wrapper"><span class="taxonomy-name">Technology</span><span class="count">(225)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/industries/consumer-goods/" title="View all project samples created for Consumer Goods"><span class="text-wrapper"><span class="taxonomy-name">Consumer Goods</span><span class="count">(205)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/industries/business-services/" title="View all project samples created for Business Services"><span class="text-wrapper"><span class="taxonomy-name">Business Services</span><span class="count">(205)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/industries/lead-generation/" title="View all project samples created for Lead Generation"><span class="text-wrapper"><span class="taxonomy-name">Lead Generation</span><span class="count">(162)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/industries/media-and-entertainment/" title="View all project samples created for Media and Entertainment"><span class="text-wrapper"><span class="taxonomy-name">Media and Entertainment</span><span class="count">(139)</span></span></a>
            </li>
          </ul>
        </div>
      </section>
      <section class="selected-taxonomy-items">
        <div class="container">
          <header>
            <h2>Selected Media Types</h2>
            <p>
              From print to interactive – explore 36 of the <a href="/portfolio/platforms/">diverse media types and marketing vehicles</a> I’ve <span style="white-space:nowrap">work with.</span>
            </p>
          </header>
          <ul class="showcase-list">
            <li>
              <a href="https://danpoynor.com/portfolio/platforms/print/" title="View all project samples created for Print Collateral"><span class="text-wrapper"><span class="taxonomy-name">Print Collateral</span><span class="count">(126)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/platforms/banner-ads/" title="View all project samples created for Banner Ads"><span class="text-wrapper"><span class="taxonomy-name">Banner Ads</span><span class="count">(167)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/platforms/landing-pages/" title="View all project samples created for Landing Pages"><span class="text-wrapper"><span class="taxonomy-name">Landing Pages</span><span class="count">(190)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/platforms/websites/" title="View all project samples created for Websites"><span class="text-wrapper"><span class="taxonomy-name">Websites</span><span class="count">(230)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/platforms/wireframes/" title="View all project samples created for Wireframes"><span class="text-wrapper"><span class="taxonomy-name">Wireframes</span><span class="count">(53)</span></span></a>
            </li>
          </ul>
        </div>
      </section>
      <section class="selected-taxonomy-items">
        <div class="container">
          <header>
            <h2>Selected Roles</h2>
            <p>
              Benefit from working with a hands-on professional with experience in over 25 <a href="/portfolio/roles/">defined design and <span style="white-space:nowrap">development roles</span></a>.
            </p>
          </header>
          <ul class="showcase-list">
            <li>
              <a href="https://danpoynor.com/portfolio/roles/front-end-developer/" title="View all project samples created for Front-end Developer"><span class="text-wrapper"><span class="taxonomy-name">Front-end Developer</span><span class="count">(273)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/roles/visual-designer/" title="View all project samples created for Visual Designer"><span class="text-wrapper"><span class="taxonomy-name">Visual Designer</span><span class="count">(547)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/roles/ux-designer/" title="View all project samples created for UX/CX Designer"><span class="text-wrapper"><span class="taxonomy-name">UX/CX Designer</span><span class="count">(116)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/roles/art-director/" title="View all project samples created for Art Director"><span class="text-wrapper"><span class="taxonomy-name">Art Director</span><span class="count">(533)</span></span></a>
            </li>
            <li>
              <a href="https://danpoynor.com/portfolio/roles/creative-director/" title="View all project samples created for Creative Director"><span class="text-wrapper"><span class="taxonomy-name">Creative Director</span><span class="count">(355)</span></span></a>
            </li>
          </ul>
        </div>
      </section>
    </section>

    <section class="value-statement">
      <div class="container">
        <div class="text">
          <h2>With a solid background dedicated to design and development I’m sure I can make a valuable addition to your project <span class="nowrap">or organization.</span></h2>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
