{% extends "base_generic.html" %}
{% block content %}
    <main class="about-me-page">
        <header>
            <div class="container">
                <h1>About Me</h1>
            </div>
        </header>
        <section class="content">
            <div class="container">
                <div class="column prose">
                    <section class="professional-recognitions">
                        <h2>Professional Recognitions</h2>
                        <ul class="colored-bullets">
                            <li>
                                BFA in Visual Communications,
                                <br />
                                California Institute of the Arts
                            </li>
                            <li>Webmaster Certification, UC Berkeley</li>
                            <li>Linux Admin Certification, UC Berkeley</li>
                            <li>Marketing Certification (incomplete), UC Berkeley</li>
                            <li>Adobe Certified Expert (ACE) - Photoshop</li>
                            <li>Adobe Certified Expert (ACE) - Illustrator</li>
                            <li>Adobe Certified Expert (ACE) - Acrobat</li>
                            <li>Adobe Certified Expert (ACE) - Dreamweaver</li>
                            <li>Adobe Certified Expert (ACE) - Flash (Animate)</li>
                            <li>Considering Adobe Certified Expert (ACE) - InDesign</li>
                        </ul>
                    </section>
                    <section class="summary">
                        <h2>
                            Summary <span>(100 words)</span>
                        </h2>
                        <p>
                            Dan Poynor is a multidisciplinary designer based in Austin, Texas working in print and interactive mediums. His work ranges from projects for global companies such as AOL, Cisco, HP, and Yahoo to projects for growing startups such as BusinesSuites, Insightly, LeadsCon, and Storm Ventures.
                        </p>
                        <p>
                            Dan defines design as the ability to control a medium and apply thoughtful messaging which communicates effectively. With this intent he has developed above average skills for all production, design, and mangement needs. Based on his solid foundation of experience, combined with on-going education, Dan is someone who will consistently exceed goals and maximize project results.
                        </p>
                    </section>
                    <section class="biography">
                        <h2>
                            Biography <span>(200 words)</span>
                        </h2>
                        <p>
                            Dan Poynor is an American multidisciplinary designer based in Austin, Texas with twenty plus years experience working primarily in print and interactive mediums. His body of work ranges from projects for global technology companies such as AOL, Cisco, HP, and Yahoo to projects for small startups such as BusinesSuites, Insightly, LeadsCon, and Storm Ventures.
                        </p>
                        <p>
                            He graduated from California Institute of the Arts with a Bachelor’s Degree in Visual Communications in 1990. Post graduation he began his career with two internships in Holland and then as a junior graphic designer working in Hollywood, California. As new media and the internet emerged in the ’90s Dan moved to the San Francisco Bay Area and embraced new technology while driving efforts on cutting edge communication platforms. Over the course of his career he has worked in both analog and digital environments and has participated on projects as large as the brand identity for the European Union.
                        </p>
                        <p>
                            Dan defines design as the ability to control a medium and apply thoughtful and responsive messaging which communicates effectively. With this intent he has developed above average skills over the years for all necessary production, design, and mangement needs in print and interactive arenas.
                        </p>
                    </section>
                </div>
                <div class="column sidebar-info">
                    <h2>Additional Info</h2>
                    <p>
                        Current Employment Status:
                        <br />
                        Available
                    </p>
                    <p>
                        Available for Relocation:
                        <br />
                        Potentially
                    </p>
                    <p>
                        Marital Status:
                        <br />
                        Single, No Children
                    </p>
                    <p>
                        Star Sign:
                        <br />
                        Sagittarius
                    </p>
                    <p>
                        <a href="{% url 'contact' %}">Contact Me</a>
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
