{% load filters %}
<section class="expando">
    <input type="checkbox" id="client-details-toggle" class="expando-toggle">
    <label for="client-details-toggle" class="expando-label">
        <h2 class="expando-trigger" aria-expanded="true">Client Info</h2>
    </label>
    <div class="expando-content">
        <section class="project-client-name">
            <h3>Client</h3>
            <ul class="csv">
                {% if project.client.name and project.client.slug %}
                    <li>
                        <a href="{% url 'client_detail' slug=project.client.slug %}"><span class="nowrap">{{ project.client.name }}</span></a>
                    </li>
                {% else %}
                    <li>No client information available.</li>
                {% endif %}
            </ul>
        </section>
        {% if project.market.all %}
            <section class="project-market-name">
                <h3>Market</h3>
                <ul class="csv">
                    {{ project.market.all|join_as_links:'market_detail' }}
                </ul>
            </section>
        {% endif %}
        {% if project.client.description %}
            <section class="project-client-description">
                <h3>Company Description</h3>
                {{ project.client.description|safe }}
            </section>
        {% endif %}
    </div>
</section>
