{% load filters %}
<section id="project-details" class="expando expanded">
    <input type="checkbox" id="project-details-toggle" class="expando-toggle">
    <label for="project-details-toggle" class="expando-label">
        <h2 class="expando-trigger" aria-expanded="true">Project Info</h2>
    </label>
    <div class="expando-content">
        {% if projectitem.industry.all %}
            <section class="project-industry-name">
                <h3>Industry</h3>
                <ul class="csv">
                    {{ projectitem.industry.all|join_as_links:'industry_detail' }}
                </ul>
            </section>
        {% endif %}
        {% if projectitem.media_type.all %}
            <section class="project-platorm-name">
                <h3>Media Type</h3>
                <ul class="csv">
                    {{ projectitem.media_type.all|join_as_links:'mediatype_detail' }}
                </ul>
            </section>
        {% endif %}
        {% if projectitem.role.all %}
            <section class="project-role-names">
                <h3>Role</h3>
                <ul class="csv">
                    {{ projectitem.role.all|join_as_links:'role_detail' }}
                </ul>
            </section>
        {% endif %}
        {% if projectitem.year %}
            <section class="project-platorm-name">
                <h3>Year</h3>
                <p>{{ projectitem.year }}</p>
            </section>
        {% endif %}
        {% if projectitem.project.description %}
            <section class="project-description">
                <h3>Project Description</h3>
                <br />
                {{ projectitem.project.description|safe }}
            </section>
        {% endif %}
    </div>
</section>
