{% extends "base_taxonomy.html" %}
{% block intro %}
    <p>
        Working on both the agency-side and client-side of projects has provided me with knowledgable insight and experience on how to manage and achieve goals from both perspectives. Initially working on corporate projects in Holland before moving to Los Angeles and working in the entertainment business equipped me with a broad understanding of needs in projects intended for large multi-national markets. With that basis I always strive to effectively communicate with as many potential customers as possible within a variety of specific vertical markets.
    </p>
{% endblock intro %}
{% block taxonomy_content %}
    <div class="key-areas">
        {% include "partials/taxonomy/term/_highlighted.html" with item_name="industry" highlighted_items=highlighted_industries %}
        <section class="taxonomy-categories">
            <h2>Major Markets</h2>
            {% include "partials/taxonomy/_categories.html" with item_name="markets" items=markets %}
        </section>
    </div>
    {% include "partials/taxonomy/_categories.html" with item_name="industries" items=industries %}
{% endblock taxonomy_content %}
