{% extends 'base_portfolio.html' %}

{% block content %}
  <main class="platforms-page">
    <div class="container">
      <div class="intro">
        <p>In my opinion, the general process of design is not medium specific. From designing a 64×64 pixel size icon to designing a 48 foot wide highway billboard, communication goals are achieved through the thoughtful application of necessary elements and principles. As platforms have evolved though from print and television to interactive and online, so too have my design and production capabilities which enables me to maintain brand integrity across mediums, achieve high-quality results at a fast pace, and keep projects on budget.</p>
      </div>
      {% include 'partials/_header_taxonomy_term.html' %}
      {% include 'partials/_highlighted_media_types.html' with media_types=highlighted_media_types %}
      <section class="taxonomy-categories">
        <h2>Media Types Overview</h2>
        <ul class="taxonomy-list gray-bullets">
          {% for mediatype in mediatypes %}
            <li>
              <a href="{{ mediatype.get_absolute_url }}">{{ mediatype.name }}</a>
            </li>
            {% empty %}
            <li>No media types available.</li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </main>
{% endblock %}
