{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <main class="home-page">
        <section class="welcome">
            <div class="container">
                <div class="text">
                    <div class="inner-container">
                        <div class="header">
                            <h1>
                                <span>Howdy World, <span class="nowrap">It’s Me…&nbsp;&nbsp;</span></span> Dan Poynor
                            </h1>
                        </div>
                        <div class="body">
                            <p>
                                I’m a designer, developer, director living in <span class="nowrap">Austin Texas.</span>
                            </p>
                            <p>
                                Currently I’m looking for work on interesting projects with talented people that requires some depth of experience <span class="nowrap">and know-how.</span>
                            </p>
                            <p>
                                If you know of a position you think I should apply towards, send <span class="nowrap">some details…</span>
                            </p>
                            <p class="cta">
                                <a class="btn" href="{% url 'contact' %}"><span>Get In Touch</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="capabilities">
            <div class="container">
                <p class="strategy">
                    <span class="nowrap">Strategy and</span>
                    <br />
                    Planning
                </p>
                <div class="plus">+</div>
                <p class="design">
                    <span class="nowrap">Visual and</span>
                    <br />
                    <span class="nowrap">Interaction Design</span>
                </p>
                <div class="plus">+</div>
                <p class="development">
                    Development
                    <br />
                    <span class="nowrap">and Production</span>
                </p>
            </div>
        </section>
        <section class="selected-projects">
            <div class="container">
                <header>
                    <h2>Selected Projects</h2>
                </header>
                <div class="project insightly-responsive-site-development">
                    <div class="text">
                        <h3>
                            Insightly.com
                            <br />
                            Front-end Developer and Overflow Design Guy
                        </h3>
                        <p>
                            I managed the front-end of Insightly.com for 3.5 years along with a marketing manager and in-house designer. Duties included performing website content updates, responsive site redesign, and occasional visual design for print. <strong>During this time the Insightly customer base grew from ~250K to over 1.2M (480%) in more than 200 countries</strong>.
                        </p>
                        <a class="btn" href="{% url 'client_detail' slug='insightly' %}"><span>View More</span></a>
                    </div>
                    <div class="collage"></div>
                </div>
                <div class="project reputation-promotional-banner-ads">
                    <div class="text">
                        <h3>
                            Reputation.com
                            <br />
                            Banner Ad Designer
                        </h3>
                        <p>
                            As Reputation.com was rapidly expanding and workload bandwidth increased their internal Art Director and Marketing Manager were looking to outsource projects on an as-needed basis. <strong>Focus was on developing the brand messaging and visual design concepts for each product line to better reach potential customers in more effective ways</strong>.
                        </p>
                        <a class="btn" href="{% url 'client_detail' slug='reputation' %}"><span>View More</span></a>
                    </div>
                    <div class="collage"></div>
                </div>
                <div class="project adobe-echosign-web-contracts-conference">
                    <div class="text">
                        <h3>
                            Adobe EchoSign
                            <br />
                            Web Contracts Conference
                            <br />
                            Art Director
                        </h3>
                        <p>
                            Working with the event coordinator, internal copywriters, and print vendors I concepted and presented visual design treatments to be considered before producing the final print and online assets. <strong>We successfully created a unique look for this unique event while adhering to the Adobe corporate brand standards</strong>.
                        </p>
                        <a class="btn" href="{% url 'client_detail' slug='adobe' %}"><span>View More</span></a>
                    </div>
                    <div class="collage"></div>
                </div>
                <div class="project yahoo-lender-search">
                    <div class="text">
                        <h3>
                            Yahoo! Lender Search
                            <br />
                            Creative Director
                        </h3>
                        <p>
                            Working internally at Yahoo! Sunnyvale as part of an in-house startup I developed concepts and produced campaigns related primarily to the financial industry. Working with both internal and external teams <strong>we tested and refined both campaign promotions and user interface designs while improving the quantity and quality of online traffic</strong>.
                        </p>
                        <a class="btn" href="{% url 'client_detail' slug='yahoo' %}"><span>View More</span></a>
                    </div>
                    <div class="collage"></div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
